{% comment %} 60ct {% endcomment %}
{% if product.id == 1948309946471 or product.id == 1417983033447  or product.id == 6612652195943 %}
<div class="container">
  <div class="row px-4 tru-dir">
    <div class="col-md-4 mb-4 mb-md-0 text-center animated fadeInUp">
      {{ 'hair_vitamins_direction_3_971323ff-cb3e-4a17-a52d-49b413284903.png' | file_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}
      <h2 class="f-h2 mt-2 mb-0">STEP 1</h2>
      <p class="m-0 py-2 px-2">1. Take one (1) <br>capsule daily </p>
    </div>
    <div class="col-md-4 mb-4 mb-md-0 text-center animated fadeInUp delay-1">
      {{ 'hair_vitamins_direction_2.png' | file_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}
      <h2 class="f-h2 mt-2 mb-0">STEP 2</h2>
      <p class="m-0 py-2 px-2">2. Drink plenty of water throughout <br>the day to stay well hydrated</p>
    </div>
    <div class="col-md-4 text-center animated fadeInUp delay-2">
      {% if product.id == 6612652195943 %}
      {{ '180_pouch_direction.png' | asset_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}
      {% endif %}
      {% if product.id == 1948309946471 %}
      {{ 'hair_vitamins_direction_4.png' | asset_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}
      {% endif %}
      {% if product.id == 1417983033447 %}
      {{ 'hair_vitamins_direction_4a.png' | asset_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}
      {% endif %}
      <h2 class="f-h2 mt-2 mb-0">STEP 3</h2>
      <p class="m-0 py-2 px-2">3. For best results, use along with <br><a href="https://sttropica.com/collections/natural-and-organic-hair-mask-treatment-products-hot-buy-now/products/coconut-oil-hair-mask-3-pack">ST. TROPICA Hot Oil Hair Mask</a></p>
    </div>
  </div>
</div>
<div class="container text-center animated fadeInUp delay-3">
  <em class="mx-auto">PS.  Difficulty swallowing pills/capsules? Simply split open your daily capsule and add contents to a beverage. Done!</em>
  <p style="margin: 20px 10%; background: #f7f7f7; padding: 20px;"><b>CAUTION:</b> For adults only. Do not exceed recommended dosage. If you have a medical condition, are pregnant, nursing, or taking medications consult with your doctor before using. Keep away from children. Do not use if safety seal is damaged or missing.</p>
</div>
{% endif %}

{% comment %} 30ct {% endcomment %}
{% if product.id == 1417983033447 %}
{% endif %}

{% comment %} Aloha Babe Dry Shampoo {% endcomment %}
{% if product.id == 4600594464871 %}
<div>
  <p class="text-center">
    Shake and, holding bottle 8-10 inches away, spray onto roots of hair. Massage gently into scalp and style as desired.
  </p>
</div>
{% endif %}

{% comment %} Leave-In Conditioner {% endcomment %}
{% if product.id == 4537960431719 %}
<div>
  <p class="text-center">
    Spray Luscious Locks Leave-In Conditioner onto slightly damp hair from mid-length to ends and work through with fingers. Do not rinse out. Blow dry or allow hair to air dry. Style hair as usual. Use regularly for best results.
  </p>
</div>
{% endif %} 

{% comment %} Beach Goddess {% endcomment %}
{% if product.id == 4600581029991 %}
<section id="directions">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                MICROWAVE SAFE HEATING:
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ol>
                  <li><span style="font-weight: 400;"> Open tube by removing cap and small tamper seal. Stand tube in a microwave-safe mug so the open end of the tube protrudes outside the top of the mug.</span></li>
                  <li><span style="font-weight: 400;"> Heat for 30 seconds.</span></li>
                  <li><span style="font-weight: 400;"> Remove tube from microwave, using caution as contents will be hot. Check for desired temperature. If contents are too hot, let cool to desired temperature. To heat further, reheat in increments of 10 seconds until desired temperature is reached.</span></li>
                  <li><span style="font-weight: 400;"> Beach Goddess may be reheated for each use.</span> </li>
                </ol>	
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                KETTLE HEATING:
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ol>
                  <li><span style="font-weight: 400;"> Remove cap and small tamper seal. Stand tube in a heat-safe mug so that the open end of the tube protrudes outside the top of the mug.</span></li>
                  <li><span style="font-weight: 400;"> </span><span style="font-weight: 400;">Fill mug 4/5 full with hot water from a kettle and wait for 3</span><span style="font-weight: 400;">0 seconds.</span></li>
                  <li><span style="font-weight: 400;"> </span><span style="font-weight: 400;">Remove tube from mug using caution as contents and the water inside the mug will be hot. </span><span style="font-weight: 400;">Check for desired temperature. If contents are too hot, let cool to desired temperature. To heat further, reheat in increments of 10 seconds until desired temperature is reached.</span></li>
                  <li><span style="font-weight: 400;"> Beach Goddess may be reheated for each use. </span> </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                APPLYING TO HAIR AND SCALP
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ol>
                  <li><span style="font-weight: 400;"> </span><span style="font-weight: 400;">Using caution as tube and contents may be hot, squeeze desired amount onto DRY hair</span><span style="font-weight: 400;"> and scalp and massage in gently.</span></li>
                  <li><span style="font-weight: 400;"> Apply shower cap, or plastic wrap, (not a towel) to head &amp; hair.</span></li>
                  <li><span style="font-weight: 400;"> Leave treatment in for a minimum of 20 minutes. For best results, leave in overnight.</span></li>
                  <li><span style="font-weight: 400;"> Shampoo hair TWICE with a good clarifying shampoo, then condition hair once to finish the treatment.</span></li>
                </ol>
                <p><span style="font-weight: 400;">RECOMMENDED USE: </span><span style="font-weight: 400;">For maximum benefits repeat treatment weekly.</span></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} Long & Lush Bundle {% endcomment %}
{% if product.id == 4757507407975 %}
<p><b>How to Use:</b> Use this 3-product ST. TROPICA Long &amp; Lush Bundle regularly for beautiful, healthy-looking hair. Use Beach Goddess Hot Oil Hair Mask once each week (can be used more often as desired), <a href="https://www.sttropica.com/pages/beach-goddess-directions"><span style="font-weight: 400;">see directions for safe use</span></a><span style="font-weight: 400;">. Take one Tru Bloom Hair Growth Vitamin daily with plenty of water, or split the capsule </span><span style="font-weight: 400;">open and add contents to a beverage. </span><span style="font-weight: 400;">For super smooth, silky, flawless looking hair, spray Luscious Locks Leave-In Conditioner onto slightly damp hair from mid-length to ends and work through with fingers. Do not rinse out. Blow dry or allow hair to air dry, and style hair as usual. Luscious Locks also makes a delicious natural hair scent.</span></p>
{% endif %}

{% comment %} Duo Dream Team {% endcomment %}
{% if product.id == 4757508227175 %}

<h2 class="f-h2 mt-2 mb-5 text-center">DIRECTIONS FOR HAIR GROWTH VITAMINS</h2>

<div class="container">
  <div class="row px-4 tru-dir">
    <div class="col-md-4 mb-4 mb-md-0 text-center animated fadeInUp">
      {{ 'hair_vitamins_direction_3_971323ff-cb3e-4a17-a52d-49b413284903.png' | file_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}
      <h2 class="f-h2 mt-2 mb-0">STEP 1</h2>
      <p class="m-0 py-2 px-2">1. Take one (1) <br>capsule daily </p>
    </div>
    <div class="col-md-4 mb-4 mb-md-0 text-center animated fadeInUp delay-1">
      {{ 'hair_vitamins_direction_2.png' | file_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}
      <h2 class="f-h2 mt-2 mb-0">STEP 2</h2>
      <p class="m-0 py-2 px-2">2. Drink plenty of water throughout <br>the day to stay well hydrated</p>
    </div>
    <div class="col-md-4 text-center animated fadeInUp delay-2">
      {{ 'hair_vitamins_direction_4.png' | asset_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}
      <h2 class="f-h2 mt-2 mb-0">STEP 3</h2>
      <p class="m-0 py-2 px-2">3. For best results, use along with <br><a href="https://sttropica.com/collections/natural-and-organic-hair-mask-treatment-products-hot-buy-now/products/coconut-oil-hair-mask-3-pack">ST. TROPICA Hot Oil Hair Mask</a></p>
    </div>
  </div>
</div>
<div class="container text-center animated fadeInUp delay-3">
  <em class="mx-auto">PS.  Difficulty swallowing pills/capsules? Simply split open your daily capsule and add contents to a beverage. Done!</em>
  <p style="margin: 20px 10%; background: #f7f7f7; padding: 20px;"><b>CAUTION:</b> For adults only. Do not exceed recommended dosage. If you have a medical condition, are pregnant, nursing, or taking medications consult with your doctor before using. Keep away from children. Do not use if safety seal is damaged or missing.</p>
</div>

<hr>

<h2 class="f-h2 my-5 text-center">DIRECTIONS FOR HOT OIL HAIR MASK</h2>

<section id="directions">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                MICROWAVE SAFE HEATING:
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ol>
                  <li><span style="font-weight: 400;"> Open tube by removing cap and small tamper seal. Stand tube in a microwave-safe mug so the open end of the tube protrudes outside the top of the mug.</span></li>
                  <li><span style="font-weight: 400;"> Heat for 30 seconds.</span></li>
                  <li><span style="font-weight: 400;"> Remove tube from microwave, using caution as contents will be hot. Check for desired temperature. If contents are too hot, let cool to desired temperature. To heat further, reheat in increments of 10 seconds until desired temperature is reached.</span></li>
                  <li><span style="font-weight: 400;"> Beach Goddess may be reheated for each use.</span> </li>
                </ol>	
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                KETTLE HEATING:
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ol>
                  <li><span style="font-weight: 400;"> Remove cap and small tamper seal. Stand tube in a heat-safe mug so that the open end of the tube protrudes outside the top of the mug.</span></li>
                  <li><span style="font-weight: 400;"> </span><span style="font-weight: 400;">Fill mug 4/5 full with hot water from a kettle and wait for 3</span><span style="font-weight: 400;">0 seconds.</span></li>
                  <li><span style="font-weight: 400;"> </span><span style="font-weight: 400;">Remove tube from mug using caution as contents and the water inside the mug will be hot. </span><span style="font-weight: 400;">Check for desired temperature. If contents are too hot, let cool to desired temperature. To heat further, reheat in increments of 10 seconds until desired temperature is reached.</span></li>
                  <li><span style="font-weight: 400;"> Beach Goddess may be reheated for each use. </span> </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                APPLYING TO HAIR AND SCALP
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ol>
                  <li><span style="font-weight: 400;"> </span><span style="font-weight: 400;">Using caution as tube and contents may be hot, squeeze desired amount onto DRY hair</span><span style="font-weight: 400;"> and scalp and massage in gently.</span></li>
                  <li><span style="font-weight: 400;"> Apply shower cap, or plastic wrap, (not a towel) to head &amp; hair.</span></li>
                  <li><span style="font-weight: 400;"> Leave treatment in for a minimum of 20 minutes. For best results, leave in overnight.</span></li>
                  <li><span style="font-weight: 400;"> Shampoo hair TWICE with a good clarifying shampoo, then condition hair once to finish the treatment.</span></li>
                </ol>
                <p><span style="font-weight: 400;">RECOMMENDED USE: </span><span style="font-weight: 400;">For maximum benefits repeat treatment weekly.</span></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} Tropical Touch L {% endcomment %}
{% if product.id == 6554709229671 or product.id == 6538018750567 or product.id == 6556149776487 or product.id == 6556149842023 or product.id == 6557132423271 %}
<div><p class="text-center">
  Dispense into hands, rub in thoroughly (may feel sticky for a few seconds), and allow to air dry. Hands will instantly feel supple & soft.
  </p></div>
{% endif %}

{% comment %}Tropical Touch S {% endcomment %}
{% if product.id == 6538018750567 %}
{% endif %}

{% comment %} Tropical Touch solo {% endcomment %}
{% if product.id == 6556149776487 %}
{% endif %}

{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6556149842023 %}
{% endif %}

{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6557132423271 %}
{% endif %}

{% comment %} Beauty Coco {% endcomment %}
{% if product.id == 1443134275687 %}
<section id="directions">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center animated fadeInUp">
        {{ 'beauty_coco_direction_1.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
        <p class="mt-2">1. <b>Facial moisturizer:</b> Beauty Coco is the perfect non-greasy moisturizer for all skin types. Use to make skin feel balanced and soothed, and to diminish the appearance of acne and premature aging.</p>
      </div>
      <div class="col-md-3 text-center animated fadeInUp delay-1">
        {{ 'beauty_coco_direction_2.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
        <p class="mt-2">2. <b>Dry shave oil:</b> Keep skin moisturized while shaving for a smooth, silky finish. Works on legs, underarms, and bikini area. Guys, try it for face.</p>
      </div>
      <div class="col-md-3 text-center animated fadeInUp delay-2">
        {{ 'beauty_coco_direction_3.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
        <p class="mt-2">3. <b>Makeup remover:</b> Oil cleansing for the win! Use Beauty Coco to remove eye makeup, or massage onto the entire face for use as an oil cleanser. Whisks away makeup, dirt, and debris to leave skin feeling cleansed without stripping away natural oils.</p>
      </div>
      <div class="col-md-3 text-center animated fadeInUp delay-3">
        {{ 'beauty_coco_direction_4.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
        <p class="mt-2">4. <b>Deep conditioning hair conditioner:</b> It’s no secret to us here at St. Tropica that coconut oil is ideal for creating gorgeous locks. Feel free to use a scoop of Beauty Coco until your next shipment of our Coconut Oil Hair Mask arrives.</p>
      </div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-md-3 text-center animated fadeInUp delay-4">
        {{ 'beauty_coco_direction_5.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
        <p class="mt-2">5. <b>Lip gloss:</b> The most moisturizing, yummiest, best scented lip gloss you can use. And looks fabulous too.</p>
      </div>
      <div class="col-md-3 text-center animated fadeInUp delay-5">
        {{ 'beauty_coco_direction_6.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
        <p class="mt-2">6. <b>Eye cream:</b> Wake up to smooth, bright eyes by applying Beauty Coco as an eye cream before bed. Super gentle, it tones down the look of puffiness too.</p>
      </div>
      <div class="col-md-3 text-center animated fadeInUp delay-6">
        {{ 'beauty_coco_direction_7.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
        <p class="mt-2">7. <b>Heel saver:</b> Those dry, scratchy heels? Get them softened and smoothed with Beauty Coco. Massage onto feet, don cotton socks, and sleep your way to sleeker feet.</p>
      </div>
      <div class="col-md-3 text-center animated fadeInUp delay-7">
        {{ 'beauty_coco_direction_8.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
        <p class="mt-2">8. <b>Massage oil:</b> The best massage oil ever, right on your vanity. Feels good and smells luscious.</p>
      </div>
    </div>
  </div>
</section>
<div class="container mb-5 animated fadeInUp delay-8">
  <p>9. <b>Body butter:</b> What’s better than slathering dry skin in rich moisture? The delicious scent that comes with using Beauty Coco! Apply generously for soft, smooth feeling skin.<br /><br /> 10. <b>Facial highlighter:</b> Get highlights that look super natural, because they are. Swipe a thin layer of Beauty Coco on areas of the face where the light hits naturally – bridge of nose, cheekbones, brow bones, and cupid’s bow.<br /><br /> 11. <b>Frizz tamer:</b> Fighting the frizz just became a lot easier. Swipe a small amount of Beauty Coco on ends of hair to tame and smooth misbehaving locks. Scrunch throughout to coral curls.<br /><br /> 12. <b>Skin soother:</b> Chapped, dry skin can easily become red and irritated. Coconut oil is cooling and soothing to inflamed skin. Use generously on affected areas.<br /><br /> 13. <b>Cuticle oil:</b> Massage Beauty Coco onto cuticles keep them looking healthy and easy to manage.<br /><br /> 14. <b>Bath oil:</b> Up your bathing experience by adding skin softening, amazingly aromatic Beauty Coco. A little dollop will do ya’.<br /><br /> 15. <b>Shine serum:</b> For sleeker hairstyles, run a bit of Beauty Coco over top layer of strands, working to ends.<br /><br /> 16. <b>Overnight hand balm:</b> Dry, cracked hands are downright miserable. Soften up your digits by applying Beauty Coco overnight.<br /><br /> 17. <b>And more:</b> Use on spots of eczema to diminish the feeling of irritation, massage into nail beds as part of your mani/pedi routine, rub into wrists and temples for a tropical scent … and anything else you can dream up.</p>
</div>
{% endif %}

{% comment %} Mermaid Mist {% endcomment %}
{% if product.id == 6630743965799 or product.id == 6641187291239 %}
<p>Spray Mermaid Mist Hair Thickening Spray onto slightly damp hair from roots to ends. Air dry and style as usual for BIG volume. To take it to the next level, blow dry hair for CRAZY volume.</p>
{% endif %}