{% comment %} 60ct {% endcomment %}
{% if product.id == 1948309946471 or product.id == 1417983033447 %}

{% endif %}

{% comment %} 30ct {% endcomment %}
{% if product.id == 1417983033447 %}
{% endif %}

{% comment %} Aloha Babe Dry Shampoo {% endcomment %}
{% if product.id == 4600594464871 %}
{% endif %}

{% comment %} Leave-In Conditioner {% endcomment %}
{% if product.id == 4537960431719 %}
{% endif %} 

{% comment %} Beach Goddess {% endcomment %}
{% if product.id == 4600581029991 %}

  <section>
    <div class="container-fluid px-0">
      <div class="row d-flex align-items-center mx-0">
        <div class="col-12 text-center mt-5 mb-4 px-5 px-md-0">
          <img src="{{ 'afi.png' | asset_img_url: '10x' }}" data-src="{{ 'afi.png' | asset_url }}" class="lazyload transition--blur-up img-fluid" alt="ST. TROPICA Beach Goddess"/>
        </div>
        <div class="col-12 text-center mb-5 d-none d-md-block">
          <img src="{{ 'afi_logo.png' | asset_img_url: '10x' }}" data-src="{{ 'afi_logo.png' | asset_url }}" class="lazyload transition--blur-up img-fluid" alt="ST. TROPICA"/>
        </div>
        <div class="col-12 text-center mb-5 d-block d-md-none px-5">
          <img src="{{ 'afi_logo_m.png' | asset_img_url: '10x' }}" data-src="{{ 'afi_logo_m.png' | asset_url }}" class="lazyload transition--blur-up img-fluid" alt="ST. TROPICA"/>
        </div>
      </div>
    </div>
  </section> 

{% endif %}

{% comment %} Long & Lush Bundle {% endcomment %}
{% if product.id == 4757507407975 %}
{% endif %}

{% comment %} Duo Dream Team {% endcomment %}
{% if product.id == 4757508227175 %}
{% endif %}

{% comment %} Tropical Touch L {% endcomment %}
{% if product.id == 6554709229671 %}
{% endif %}

{% comment %}Tropical Touch S {% endcomment %}
{% if product.id == 6538018750567 %}
{% endif %}

{% comment %} Tropical Touch solo {% endcomment %}
{% if product.id == 6556149776487 %}
{% endif %}

{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6556149842023 %}
{% endif %}

{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6557132423271 %}
{% endif %}

{% comment %} Beauty Coco {% endcomment %}
{% if product.id == 1443134275687 %}
{% endif %}