{% if related_products == true %}
  {% assign hover_enabled = block.settings.show_related_products_title_on_hover %}
{% else %}
  {% assign hover_enabled = settings.thumbnail_hover_enabled %}
{% endif %}


{% comment %} 60ct {% endcomment %}
{% if product.id == 1948309946471 %}
  {% assign Custom__Product__Title = 'Tru Bloom' %}
  {% assign Custom__Product__sTitle = 'Hair Vitamins - 2 Month Supply Hair Challenge' %}
  {% assign ProductTags = 'Growth, Hair Loss, Thinning, Thicker, Bald Spots, Longer, Healthier, Curly, Fuller, Color, Nails, Skin' %}
{% endif %}

{% comment %} 30ct {% endcomment %}
{% if product.id == 1417983033447 %}
  {% assign Custom__Product__Title = 'Tru Bloom' %}
  {% assign Custom__Product__sTitle = 'Hair Vitamins - 1 Month Supply' %}
  {% assign ProductTags = 'Growth, Hair Loss, Thinning, Thicker, Bald Spots, Longer, Healthier, Curly, Fuller, Color, Nails, Skin' %}
{% endif %}

{% comment %} Aloha Babe Dry Shampoo {% endcomment %}
{% if product.id == 4600594464871 %}
  {% assign Custom__Product__Title = 'Aloha Babe' %}
  {% assign Custom__Product__sTitle = 'Dry Shampoo' %}
  {% assign ProductTags = 'Results, Volume, Smell' %}
{% endif %}

{% comment %} Leave-In Conditioner {% endcomment %}
{% if product.id == 4537960431719 %}
  {% assign Custom__Product__Title = 'Luscious Locks' %}
  {% assign Custom__Product__sTitle = 'Leave-In Conditioner' %}
  {% assign ProductTags = 'Healthy Hair, Split Ends, Silk, Soft, Smell, Light' %}
{% endif %} 

{% comment %} Beach Goddess {% endcomment %}
{% if product.id == 4600581029991 %}
  {% assign Custom__Product__Title = 'Beach Goddess' %}
  {% assign Custom__Product__sTitle = 'Hot Oil Hair Mask' %}
  {% assign ProductTags = 'Thicker, Shiny, Frizz, Smooth, Soft, Stronger, Repair, Moisture' %}
{% endif %}

{% comment %} Gift card {% endcomment %}
  {% if product.id == 4546091745383 %}
  {% assign Custom__Product__Title = 'Gift Card' %}
  {% assign Custom__Product__sTitle = 'Digital Gift Card' %}
{% endif %}

{% comment %} Long & Lush Bundle {% endcomment %}
{% if product.id == 4757507407975 %}
  {% assign Custom__Product__Title = 'Long & Lush Bundle' %}
  {% assign Custom__Product__sTitle = 'Luscious Locks + Beach Goddess + Tru Bloom' %}
{% endif %}

{% comment %} Duo Dream Team {% endcomment %}
{% if product.id == 4757508227175 %}
  {% assign Custom__Product__Title = 'Duo Dream Team' %}
  {% assign Custom__Product__sTitle = 'Tru Bloom + Beach Goddess' %}
{% endif %}

{% comment %} SELFCARE Bundle {% endcomment %}
{% if product.id == 4752079814759 %}
  {% assign Custom__Product__Title = 'SELFCARE Bundle' %}
  {% assign Custom__Product__sTitle = 'Selfcare Bundle' %}
{% endif %}

{% comment %} Fresh & Fabulous Bundle {% endcomment %}
{% if product.id == 4757508784231 %}
  {% assign Custom__Product__Title = 'Fresh & Fabulous Bundle' %}
  {% assign Custom__Product__sTitle = 'Fresh & Fabulous Bundle' %}
{% endif %}

{% comment %} TROPICAL TOUCH {% endcomment %}
{% if product.id == 6554709229671 or product.id == 6538018750567 or product.id == 6556149776487 or product.id == 6556149842023 or product.id == 6557132423271 %}
  {% assign Custom__Product__Title = 'TROPICAL TOUCH' %}
{% endif %}

{% comment %} Tropical Touch L {% endcomment %}
{% if product.id == 6554709229671 %}{% assign Custom__Product__sTitle = 'Beauty Sanitizer (Jumbo)' %}{% endif %}
{% comment %}Tropical Touch S {% endcomment %}
{% if product.id == 6538018750567 %}{% assign Custom__Product__sTitle = 'Beauty Sanitizer (2 Pack)' %}{% endif %}
{% comment %} Tropical Touch solo {% endcomment %}
{% if product.id == 6556149776487 %}{% assign Custom__Product__sTitle = 'Beauty Sanitizer (Solo Set)' %}{% endif %}
{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6556149842023 %}{% assign Custom__Product__sTitle = 'Beauty Sanitizer (Duo Set)' %}{% endif %}
{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6557132423271 %}{% assign Custom__Product__sTitle = 'Beauty Sanitizer (Travel Pack)' %}{% endif %}

{% comment %} Fresh & Fabulous Bundle {% endcomment %}
{% if product.id == 1443134275687 %}
  {% assign Custom__Product__Title = 'BEAUTY COCO' %}
  {% assign Custom__Product__sTitle = 'Pure Virgin Coconut Oil' %}
{% endif %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign secondaryImage = product.media[1] %}

{% assign collection_handles = product.collections | map: 'handle' %}
{% if product.featured_media.preview_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
  {% assign alt_text = product.title %}
{% else %}
  {% assign alt_text = product.featured_media.preview_image.alt %}
{% endif %}

{% if type == 'block' %}
  {% assign image_crop = block.settings.image_crop %}
{% else %}
  {% assign image_crop = section.settings.image_crop %}
{% endif %}

{% if align_height == true %}
  {% style %}
    .product-{{ product.id }} .image__container img,
    .product-{{ product.id }} .product-thumbnail__video .plyr {
      max-width: 100%;
      width: {{ height }}px;
      margin: 0 auto;
    }

    .shopify-model-viewer-ui model-viewer {
      --progress-bar-height: 2px;
      --progress-bar-color: {{ settings.regular_color }};
    }
  {% endstyle %}
{% endif %}
{% style %}
.stamped-badge-caption[data-reviews][data-label][data-version="2"] > span {
display: none !important;
}
{% endstyle %}
<div class="
  {% if settings.enable_quickshop %}
    quick-shop--true
    quick-shop--closed
    product-{{ product.id }} js-product_section
  {% endif %}
  {% if settings.stickers_enabled %}
    has-thumbnail-sticker
  {% endif %}
  {% if product.media[1] != blank and settings.show_secondary_image == true %}
    has-secondary-image-swap
  {% endif %}
  thumbnail
  product__thumbnail
  product__grid-item
  thumbnail__hover-overlay--{{ hover_enabled }}
  has-padding-bottom row d-flex align-items-center"
  {% if section.settings.pagination_type != 'basic_pagination' %}
    data-load-more--grid-item
  {% endif %}>
  <div class="product-wrap col-md-6">
  
      <div class="product-image__wrapper">
        <div class="image__container product__imageContainer">
          {% comment %}<img src="{{ 'blownaway.png' | asset_img_url: '150x' }}" class="blownaway" alt="Blow away or you dont pay" />{% endcomment %}
          <a href="{{ product.url | within: collection }}">
            {% if settings.stickers_enabled %}
              {% render 'product-thumbnail__sticker',
                      product: product,
                      context: 'product',
                      collection_handles: collection_handles
              %}
            {% endif %}

            {% comment %} Primary image {% endcomment %}
            {% render 'image-element',
                    image: product.featured_media.preview_image,
                    alt: alt_text,
                    object_fit: align_height,
                    max_height: height
            %}

            {% comment %} Secondary image {% endcomment %}
            {% if product.media[1] != blank and settings.show_secondary_image == true %}
              {% if product.media[1].media_type == 'external_video' %}
                <div class="product-thumbnail__video secondary swap--visible video-on-hover">
                  <div data-youtube-video>
                    {{ product.media[1] | external_video_tag }}
                  </div>
                </div>
              {% elsif product.media[1].media_type == 'video' %}
                <div class="product-thumbnail__video secondary swap--visible video-on-hover" data-html5-video>
                  {{ product.media[1] | video_tag: controls: false }}
                </div>
              {% else %}
                {% render 'image-element',
                        image: product.media[1],
                        alt: alt_text,
                        object_fit: align_height,
                        max_height: height,
                        additional_classes: 'secondary swap--visible'
                %}
              {% endif %}
            {% endif %}
          </a>
        </div>
        
        {% if product.compare_at_price_max > product.price %}
        <span class="p_was_price">
          <span class="money" title="Product Price">SAVE {{product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}%</span>
        </span>
        {% endif %}	

        {% if hover_enabled or settings.enable_quickshop %}
          <div class="thumbnail-overlay__container">
            <a class="hidden-product-link" href="{{ product.url | within: collection }}">{{ product.title }}</a>
			{% comment %}
            {% if hover_enabled %}
              <div class="quick-shop__info animated fadeInDown">
                <div class="thumbnail-overlay">
                 <div class="info text-align-center">
                    {% if settings.display_vendor %}
                      <span class="product-thumbnail__vendor">{{ product.vendor }}</span>
                    {% endif %}

                    <p class="product-thumbnail__title mt-3 mb-0">{{ Custom__Product__Title }}</p>
                   	<p class="product-thumbnail__stitle">{{ Custom__Product__sTitle }}</p>

                    {% if collection_handles contains 'coming-soon' %}
                      <span>{{ 'collections.general.coming_soon' | t }}</span>
                    {% else %}
                      <span class="product-thumbnail__price price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
                        {% if product.available %}
                          {% if product.price_varies and product.price_min > 0 %}
                            <small><em>{{ 'products.general.from' | t }}</em></small>
                          {% endif %}
                          {% if product.price_min > 0 %}
                            <span class="money">
                              {% render 'price-element', price: product.price_min %}
                            </span>
                          {% else %}
                            {{ settings.free_price_text }}
                          {% endif %}
                          {% if product.compare_at_price_max > product.price %}
                            <span class="product-thumbnail__was-price was-price">
                              <span class="money">
                                {% render 'price-element', price: product.compare_at_price_max %}
                              </span>
                            </span>
                          {% endif %}
                        {% else %}
                          <span class="product-thumbnail__sold-out sold-out">{{ 'products.product.sold_out' | t }}</span>
                        {% endif %}
                      </span>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
			{% endcomment %}
            {% if settings.enable_quickshop %}
              {% render 'product-thumbnail__quick-shop-button', product: product %}
            {% endif %}

            {% if hover_enabled %}
              {% if settings.enable_shopify_collection_badges and settings.enable_shopify_review_comments %}
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              {% endif %}
            {% endif %}

          </div>
        {% endif %}

      </div>
	{% comment %}
      <div class="thumbnail__caption text-align-{{ settings.thumbnail_text_alignment }}">
        {% render 'product-thumbnail__product-info',
                product: product,
                collection_handles: collection_handles
        %}
      </div>
    {% endcomment %}
    </div>
  
  <div class="info text-align-center col-md-6">
    {% if settings.display_vendor %}
    	<span class="product-thumbnail__vendor">{{ product.vendor }}</span>
    {% endif %}

    <p class="product-thumbnail__title mt-3 mb-0">{{ Custom__Product__Title }}</p>
    <p class="product-thumbnail__stitle mb-2">{{ Custom__Product__sTitle }}</p>

    {% if collection_handles contains 'coming-soon' %}
    	<span>{{ 'collections.general.coming_soon' | t }}</span>
    {% else %}
    
    <span class="product-thumbnail__price price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
      {% if product.available %}
      {% if product.price_varies and product.price_min > 0 %}
      <small><em>{{ 'products.general.from' | t }}</em></small>
      {% endif %}
      {% if product.price_min > 0 %}
      <span class="money">
        {% render 'price-element', price: product.price_min %}
      </span>
      {% else %}
      {{ settings.free_price_text }}
      {% endif %}
      {% if product.compare_at_price_max > product.price %}
      <span class="product-thumbnail__was-price was-price">
        <span class="money">
          {% render 'price-element', price: product.compare_at_price_max %}
        </span>
      </span>
      {% endif %}
      {% else %}
      <span class="product-thumbnail__sold-out sold-out">{{ 'products.product.sold_out' | t }}</span>
      {% endif %}
    </span>
    
    
    {% endif %}
    
    <div class="mx-auto mt-2">
      <span class="mx-auto stamped-product-reviews-badge stamped-main-badge product product-featured1" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display: inline-block;"></span>
    </div>
    
    <div id="p_t_form">
      {% render 'product__form', product: product%}
    </div>

  </div>
  
  {% render 'product-thumbnail__swatch', product: product %}

  {% if hover_enabled == false %}
    {% if settings.enable_shopify_collection_badges and settings.enable_shopify_review_comments %}
    <div class="product-thumbnail__review-stars is-flex is-justify-{{ settings.thumbnail_text_alignment }}">
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </div>
    {% endif %}
  {% endif %}
</div>