{% comment %} 180ct {% endcomment %}
{% if product.id == 6612652195943%}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ '180_vitamins_ingredients.png' | asset_url }}"/>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ '180_vitamins_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ '180_vitamins_back.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} 60ct {% endcomment %}
{% if product.id == 1948309946471 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'hair-vitamins-ingredients.png' | asset_url }}"/>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ 'trubloom_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'trubloom_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} 30ct {% endcomment %}
{% if product.id == 1417983033447 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'hair-vitamins-ingredients.png' | asset_url }}"/>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ 'trubloom_30ct_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'trubloom_30ct_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} Aloha Babe Dry Shampoo {% endcomment %}
{% if product.id == 4600594464871 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <p>Alcohol Denatured, Isobutane, Propane, Natural Tapioca Starch, Vegetable Magnesium Stearate, Biotin, Vegetable Glycerin, Organic Green Tea, Organic Hibiscus, Organic Amla, Organic Bhringraj, Organic Horsetail, n-Butane, Aqua, Natural Fragrance (plant derived). </p>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ 'aloha_babe_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'aloha_babe_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} Leave-In Conditioner {% endcomment %}
{% if product.id == 4537960431719 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <ul class="ul-disc">
            <li>Organic Jojoba Oil makes hair feel silky smooth and soft</li>
            <li>Organic Virgin Olive Oil makes hair feel thicker and healthier</li>
            <li>Organic Avocado Oil lends the appearance of voluminous hair</li>
            <li>Organic Bhringraj prevents the appearance of hair loss and visibly improves hair growth</li>
            <li>Organic Hibiscus offers a soothing feel to skin, ideal for those with sensitive scalp</li>
            <li>Organic Amla moisturizes the scalp and makes hair feel strong</li>
            <li>Organic Horsetail lends a reparative feel to damaged hair tissue, and makes hair look healthy and vibrant</li>
            <li>Organic Green Tea boosts the appearance of hair growth and visibly improves split ends</li>
          </ul>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ 'luscious_locks_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'luscious_locks_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %} 

{% comment %} Beach Goddess {% endcomment %}
{% if product.id == 4600581029991 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <p class="text-center">Virgin Coconut Oil, Biotin, Organic Bhringraj, Organic Horsetail, Organic Amla, Organic Hibiscus, Organic Green Tea, Organic Coconut Butter, Organic Coconut Fruit Extract.</p>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ 'beach_goddess_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'beach_goddess_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} Long & Lush Bundle {% endcomment %}
{% if product.id == 4757507407975 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <ul class="ul-disc">
            <li>Organic Jojoba Oil makes hair feel silky smooth and soft</li>
            <li>Organic Virgin Olive Oil makes hair feel thicker and healthier</li>
            <li>Organic Avocado Oil lends the appearance of voluminous hair</li>
            <li>Organic Bhringraj prevents the appearance of hair loss and visibly improves hair growth</li>
            <li>Organic Hibiscus offers a soothing feel to skin, ideal for those with sensitive scalp</li>
            <li>Organic Amla moisturizes the scalp and makes hair feel strong</li>
            <li>Organic Horsetail lends a reparative feel to damaged hair tissue, and makes hair look healthy and vibrant</li>
            <li>Organic Green Tea boosts the appearance of hair growth and visibly improves split ends</li>
          </ul>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ 'luscious_locks_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'luscious_locks_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid px-0 mt-4">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-0">
        <a href="{{ 'beach_goddess_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'beach_goddess_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <p class="text-center">Virgin Coconut Oil, Biotin, Organic Bhringraj, Organic Horsetail, Organic Amla, Organic Hibiscus, Organic Green Tea, Organic Coconut Butter, Organic Coconut Fruit Extract.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid px-0 mt-4">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <ul class="ul-disc">
            <li><b>100% DRUG FREE:</b> A Natural Hair Supplement, with no drugs or DHT blockers</li>
            <li><b>ALLERGEN FREE: </b> This covers all 8 Allergens for Nutritional Supplements which are: wheat, soy, peanuts, dairy, tree nuts, crustaceans, fish and eggs</li>
            <li><b>CERTIFIED CRUELTY FREE:</b> With No Animal Testing</li>
            <li><b>CERTIFIED VEGAN:</b> With No Animal Derived Ingredients</li>
            <li><b>MADE IN USA & SHIPS FROM USA:</b> 100% Made in USA & manufactured under the highest quality FDA approved facilities, both cGMP & NSF Regulated</li>
            <li><b>FOR ALL HAIR TYPES: </b>Both Women and Men</li>
            <li><b>EASY TO SWALLOW: </b>Safe & gentle water-soluble Vegan capsules. Can also be easily split open and added to your favorite beverage</li>
          </ul>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ 'trubloom_30ct_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'trubloom_30ct_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} Duo Dream Team {% endcomment %}
{% if product.id == 4757508227175 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <ul class="ul-disc">
            <li><b>100% DRUG FREE:</b> A Natural Hair Supplement, with no drugs or DHT blockers</li>
            <li><b>ALLERGEN FREE: </b> This covers all 8 Allergens for Nutritional Supplements which are: wheat, soy, peanuts, dairy, tree nuts, crustaceans, fish and eggs</li>
            <li><b>CERTIFIED CRUELTY FREE:</b> With No Animal Testing</li>
            <li><b>CERTIFIED VEGAN:</b> With No Animal Derived Ingredients</li>
            <li><b>MADE IN USA & SHIPS FROM USA:</b> 100% Made in USA & manufactured under the highest quality FDA approved facilities, both cGMP & NSF Regulated</li>
            <li><b>FOR ALL HAIR TYPES: </b>Both Women and Men</li>
            <li><b>EASY TO SWALLOW: </b>Safe & gentle water-soluble Vegan capsules. Can also be easily split open and added to your favorite beverage</li>
          </ul>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ 'trubloom_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'trubloom_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid px-0 mt-4">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-0">
        <a href="{{ 'beach_goddess_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'beach_goddess_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <p class="text-center">Virgin Coconut Oil, Biotin, Organic Bhringraj, Organic Horsetail, Organic Amla, Organic Hibiscus, Organic Green Tea, Organic Coconut Butter, Organic Coconut Fruit Extract.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} Tropical Touch L {% endcomment %}
{% if product.id == 6554709229671 or product.id == 6556149776487 or product.id == 6556149842023 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <p class="text-center">Kills 99.9% of Germs while providing essential moisture and delivering visible wrinkle-defense and firming action to skin, leaving hands feeling smooth, soft, and clean.<br>
            A trio of ultimately hydrating ingredients – Hyaluronic acid, Vitamin C, and Niacinamide – combine with Organic Green Tea, Organic Hibiscus Oil, Organic Blueberry and Cocoa Butter to deeply moisturize and rejuvenate. </p>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ 'tropical_touch_large_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'tropical_touch_large_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %}Tropical Touch S {% endcomment %}
{% if product.id == 6538018750567 or product.id == 6557132423271 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <p class="text-center">Kills 99.9% of Germs while providing essential moisture and delivering visible wrinkle-defense and firming action to skin, leaving hands feeling smooth, soft, and clean.<br>
            A trio of ultimately hydrating ingredients – Hyaluronic acid, Vitamin C, and Niacinamide – combine with Organic Green Tea, Organic Hibiscus Oil, Organic Blueberry and Cocoa Butter to deeply moisturize and rejuvenate. </p>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ 'tropical_touch_small_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'tropical_touch_small_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} Tropical Touch solo {% endcomment %}
{% if product.id == 6556149776487 %}
{% endif %}

{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6556149842023 %}
{% endif %}

{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6557132423271 %}
{% endif %}

{% comment %} Beauty Coco {% endcomment %}
{% if product.id == 1443134275687 %}
<section id="beauty_coco_details">      
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <a href="{{ 'ingredients_page_beauty_coco_back1.jpg' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="St.Tropica Beauty Coco">
          <img alt="St.Tropica Beauty Coco" src="{{ 'ingredients_page_beauty_coco_back.jpg' | asset_url }}"/>
        </a>
      </div>
      <div class="col-md-6">
        <div class="">
          <h1 class="mainh1">Beauty Coco</h1>
          <p>Our Beauty Coco is comprised of a single ingredient. 
            So we made sure that ingredient is the finest Certified Organic Coconut Oil we could find. 
            ST. TROPICA 100% Virgin Coconut Oil is made from organically grown coconuts that are freshly harvested within 48 hours and never dried. 
            Our coconut oil is raw, unrefined, and cold pressed without heat or chemicals, and processed with world-class stainless steel equipment.
          </p>
          <ul class="ul-disc">
            <li>Contains the highest Lauric Acid and Vitamin E content to offer a wealth of beauty benefits</li>
            <li>A heavenly tropical scent you only get from the purest coconut oil instantly transports you to the tropics</li>
            <li>Non-greasy moisturization for skin and hair</li>
            <li>Proven beauty benefits in multiple government-published studies in the USA and Korea</li>
            <li>Practically endless beauty uses</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} Mermaid Mist {% endcomment %}
{% if product.id == 6630743965799 or product.id == 6641187291239 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <p class="text-center">Aqua (Water, Eau) Magnesium Sulfate, Himalayan Pink Salt, Sea Kelp Extract, Green Tea Leaf Extract, Hibiscus Flower Extract, Amla Fruit Extract, Bhringraj Extract, Horsetail Extract, Argan Kernel Oil, Maltodextrin, Panthenol, Glycerin, Sorbitol, Trisodium Ethylenediamine Disuccinate, Geogard® Ultra (natural preservative), Citric Acid, Natural Fragrance (plant derived).</p>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="{{ 'mermaid_mist_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
          <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'mermaid_mist_back_thumb.png' | asset_url }}"/>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}