
{% if product.id == 1948309946471 or product.id == 1417983033447%}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-md-0">
        <div class="p-md-5 p-3">
          <p>Spanning from rural ancient India, to the depths of the Brazilian rainforest, to the lush tropical Hawaiian Islands… we’ve scoured the Earth in our quest to 
            create the World's Best Hair Vitamins, by sourcing the best of the best, high performance, plant and fruit-based ingredients.  It's the ultimate daily Hair Vitamin for extraordinary results.
          </p>
          <ul class="ul-disc">
            <li><b>100% DRUG FREE:</b> A Natural Hair Supplement, with zero drugs</li>
            <li><b>ALLERGEN FREE:</b> This covers all 8 Allergens for Nutritional Supplements which are: wheat, soy, peanuts, dairy, tree nuts, crustaceans, fish and eggs</li>
            <li><b>CERTIFIED CRUELTY FREE:</b> With No Animal Testing</li>
            <li><b>CERTIFIED VEGAN:</b> With No Animal Derived Ingredients</li>
            <li><b>MADE IN THE USA:</b> in FDA Approved Facilities, and ships from the USA</li>
            <li><b>FOR ALL HAIR TYPES:</b> Both Women and Men</li>
            <li><b>JUST ONE CAPSULE DAILY:</b> Easy to swallow. Safe & gentle water-soluble Vegan capsules. Can also be easily split open and added to your favorite beverage</li>
          </ul>
          <div>
            <a class="button" href="#" aria-label="Click here to shop our Hair vitamins">BUY NOW</a>
            <a class="button" href="/pages/60-day-hair-challenge-results" aria-label="Click here to shop our Hair vitamins">SEE RESULTS</a>
          </div>
        </div>
      </div>
      <div class="col-md p-0 overflow-hidden">
        {% if product.id == 1948309946471 %}<a href="#" aria-label="Click here to Shop now"><img src="{{ 'tru_bloom_banner.png' | asset_img_url: '10x' }}" data-src="{{ 'tru_bloom_banner.png' | asset_url }}" class="lazyload transition--blur-up img-fluid pill-ingr img-full" alt="ST. TROPICA Hair Growth Vitamins"/></a>{% endif %}
        {% if product.id == 1417983033447 %}<a href="#" aria-label="Click here to Shop now"><img src="{{ 'tru_bloom_30ct_banner.png' | asset_img_url: '10x' }}" data-src="{{ 'tru_bloom_30ct_banner.png' | asset_url }}" class="lazyload transition--blur-up img-fluid pill-ingr img-full" alt="ST. TROPICA Hair Growth Vitamins"/></a>{% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if product.id == 6612652195943 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-0 overflow-hidden">
        {% if product.id == 6612652195943 %}<a href="#" aria-label="Click here to Shop now"><img src="{{ '180_pouch_girl_green_bg.png' | asset_img_url: '10x' }}" data-src="{{ '180_pouch_girl_green_bg.png' | asset_url }}" class="lazyload transition--blur-up img-fluid pill-ingr img-full" alt="ST. TROPICA Hair Growth Vitamins"/></a>{% endif %}
      </div>
      <div class="col-md p-md-0">
        <div class="p-md-5 p-3">
          <p>Spanning from rural ancient India, to the depths of the Brazilian rainforest, to the lush tropical Hawaiian Islands… we’ve scoured the Earth in our quest to 
            create the World's Best Hair Vitamins, by sourcing the best of the best, high performance, plant and fruit-based ingredients.  It's the ultimate daily Hair Vitamin for extraordinary results.
          </p>
          <ul class="ul-disc">
            <li><b>100% DRUG FREE:</b> A Natural Hair Supplement, with zero drugs</li>
            <li><b>ALLERGEN FREE:</b> This covers all 8 Allergens for Nutritional Supplements which are: wheat, soy, peanuts, dairy, tree nuts, crustaceans, fish and eggs</li>
            <li><b>CERTIFIED CRUELTY FREE:</b> With No Animal Testing</li>
            <li><b>CERTIFIED VEGAN:</b> With No Animal Derived Ingredients</li>
            <li><b>MADE IN THE USA:</b> in FDA Approved Facilities, and ships from the USA</li>
            <li><b>FOR ALL HAIR TYPES:</b> Both Women and Men</li>
            <li><b>JUST ONE CAPSULE DAILY:</b> Easy to swallow. Safe & gentle water-soluble Vegan capsules. Can also be easily split open and added to your favorite beverage</li>
          </ul>
          <div>
            <a class="button" href="#" aria-label="Click here to shop our Hair vitamins">BUY NOW</a>
            <a class="button" href="/pages/60-day-hair-challenge-results" aria-label="Click here to shop our Hair vitamins">SEE RESULTS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if product.id == 1417983033447 %}
{% endif %}

{% if product.id == 6554709229671 or product.id == 6538018750567 or product.id == 6556149776487 or product.id == 6556149842023 or product.id == 6557132423271 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <p>Our signature natural fragrance lends a dreamy tropical scent that’s light enough for multiple uses throughout the day. 
            Hand cleansing has never been so beautiful.<br><br>
            Tropical Touch easy-to-apply gel formula comes in a convenient, on-the-go portable tube in two handy sizes.<br>
          </p>
          <ul class="ul-disc">
            <li>Kills 99. 9% of Germs, while
              beautifying your hands</li>
            <li>Proprietary Skin Superfood formula with 11 powerhouse
              Bio-active ingredients</li>
            <li>Antioxidant rich plant + fruit based ingredients deliver powerful hydration + wrinkle defense for youthful looking hands </li>
            <li>Exotic Natural Fruit fragrance lends a dreamy tropical scent</li>
          </ul>
          <div class="row d-none d-md-block"><a class="button mt-2" href="#" aria-label="Click here to Shop now">SHOP NOW</a></div>
          <div class="d-block d-md-none center">
            <a class="pill-btn button" href="#" aria-label="Click here to Shop now">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="#" aria-label="Click here to Shop now"><img src="{{ 'tropical_touch__home.png' | asset_img_url: '10x' }}" data-src="{{ 'tropical_touch__home.png' | asset_url }}" class="lazyload transition--blur-up img-fluid img-full" alt="ST.Tropica Tropical Touch"/></a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if product.id == 4537960431719 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-0 d-block d-md-none">
        <a href="#" aria-label="Click here to Shop now"><img src="{{ 'luscious_locks_home_banner.png' | asset_img_url: '10x' }}" data-src="{{ 'luscious_locks_home_banner.png' | asset_url }}" class="lazyload transition--blur-up img-fluid" alt="ST.Tropica Luscious Locks"/></a>
      </div>
      <div class="col-md p-md-0">
        <div class="p-md-5 p-3">
          <p>Makes combing through hair, tangle-free, a breeze. The no-rinse formula couldn’t be simpler to use, at home or on-the-go. A juicy tropical scent smells like summer all year long. Designed for all hair types, the long-lasting benefits make Luscious Locks a haircare must-have.</p>
          <ul class="ul-disc">
            <li>Each & Every Ingredient Ranks #1 on EWG Skin Deep</li>
            <li>Contains Only Natural Fragrance Ingredients (and smells heavenly!) </li>
            <li>Certified Cruelty Free: With No Animal Testing </li>
            <li>Certified Vegan: With No Animal Derived Ingredients</li>
            <li>Easy to Use, No-Rinse Formula</li>
          </ul>              
          <div class="row d-none d-md-block"><a class="button mt-4" href="#" aria-label="Click here to Shop now">SHOP NOW</a></div>
          <div class="d-block d-md-none center">
            <a class="pill-btn button" href="#" aria-label="Click here to Shop now">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="col-md p-0 overflow-hidden d-none d-md-block">
        <a href="#" aria-label="Click here to Shop now"><img src="{{ 'luscious_locks_home_banner.png' | asset_img_url: '10x' }}" data-src="{{ 'luscious_locks_home_banner.png' | asset_url }}" class="lazyload transition--blur-up img-fluid img-full" alt="ST.Tropica Luscious Locks"/></a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if product.id == 4600581029991 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <p>It's not just another “artificial shine”/silicone fix (which only lasts for a couple of days, while causing long term damage to your hair). It’s 100% Natural and is ridiculously good for your hair. Now you can finally get Soft, Shiny, Silky-Smooth Hair, that’s also proven to be Thicker & Stronger... the right way, after the very first use.</p>
          <ul class="ul-disc">
            <li>Revitalizes & strengthens dry/damaged hair</li>
            <li>Locks-in moisture to help eliminate split ends and frizzy hair</li>
            <li>Delivers unbelievable hair shine & softness</li>
          </ul>
          <div class="d-none d-md-block">
            <a class="button" href="#" aria-label="Click here to Shop now">SHOP NOW</a>
          </div>
          <div class="d-block d-md-none center">
            <a class="pill-btn button" href="#" aria-label="Click here to Shop now">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="#" aria-label="Click here to Shop now"><img src="{{ 'beach_goddess_home_banner.png' | asset_img_url: '10x' }}" data-src="{{ 'beach_goddess_home_banner.png' | asset_url }}" class="lazyload transition--blur-up img-fluid img-full" alt="ST. TROPICA Beach Goddess"/></a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if product.id == 4600594464871 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <p>Natural proteins target damaged areas, repairing strands from the inside out, and protective emollient and conditioning ingredients improve the appearance of volume and shine. The non-whitening, weightless formula is non-sticky and easy to use. Perfect for all hair types. And our signature natural fragrance delivers a dreamy tropical scent. Hair is left looking clean, full, and salon-fresh, in just seconds!</p>
          <ul class="ul-disc">
            <li>Free From: Artificial Colors, Artificial Fragrance, Artificial Preservatives, Sulfates, Parabens, Silicone, Gluten, and Soy</li>
            <li>Contains Only Natural Fragrance Ingredients</li>
            <li>Certified Cruelty-Free</li>
            <li>Certified Vegan</li>
            <li>Convenient Continuous Spray Bottle </li>
          </ul>
          <div class="d-none d-md-block">
            <a class="button" href="#" aria-label="Click here to Shop now">SHOP NOW</a>
          </div>
          <div class="d-block d-md-none center">
            <a class="pill-btn button" href="#" aria-label="Click here to Shop now">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="#" aria-label="Click here to Shop now"><img src="{{ 'aloha_babe_home_banner.png' | asset_img_url: '10x' }}" data-src="{{ 'aloha_babe_home_banner.png' | asset_url }}" class="lazyload transition--blur-up img-fluid img-full" alt="ST. TROPICA Beach Goddess"/></a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} Long & Lush Bundle {% endcomment %}
{% if product.id == 4757507407975 %}

<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-4 p-md-0">
        <div class="px-md-5">
          <p>Beach Goddess is a weekly (or more!) hair mask that makes locks feel ultimately silky-soft and moisturized, a self-care treat for hair and scalp. A one-month supply of Tru Bloom Hair Vitamins 
            sends you on your way to a longer, thicker-looking mane. And our Leave-In Conditioner is an ideal daily-use product to enhance the appearance of shine and quell fly-aways, all while bestowing the most sublime natural scent.</p>
          <ul class="ul-disc">
            <li>The Perfect Gift for Your Hair-Obsessed Friends</li>
            <li>A 1-Month Supply of Our Best Selling Hair Growth Vitamins</li>
            <li>Our Signature Hot Oil Hair Mask for Weekly Use (Or More!)</li>
            <li>Daily-Use Leave-In for Soft, Shiny Hair That Smells Sublime</li>
          </ul>
          <div class="d-none d-md-block">
            <a class="button" href="#" aria-label="Click here to Shop now">SHOP NOW</a>
          </div>
          <div class="d-block d-md-none center">
            <a class="pill-btn button" href="#" aria-label="Click here to Shop now">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="col-md p-0">
        <a href="#" aria-label="Click here to Shop now"><img src="{{ 'long_and_lush_home_banner.png' | asset_img_url: '10x' }}" data-src="{{ 'long_and_lush_home_banner.png' | asset_url }}" class="lazyload transition--blur-up img-fluid img-full" alt="ST. TROPICA Long and Lush"/></a>
      </div>
    </div>
  </div>
</section>

{% endif %}

{% comment %} Duo Dream Team {% endcomment %}
{% if product.id == 4757508227175 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-md-0">
        <div class="p-md-5 p-3">
          <p>The protein-rich power of Organic Virgin Coconut Oil maintains a balanced and healthy feeling scalp, essential for a gorgeous mane. Natural Hair Superfoods in our hair vitamin formula perfectly nourish and support hair follicles for a feeling of strength and resilience. </p>
          <ul class="ul-disc">
            <li>Visibly Smooths Strands &amp; Boosts Shine</li>
            <li>The Best Gift for Your Hair Obsessed Bestie</li>
            <li>Includes a Money-Back Guarantee if You Aren’t Completely Satisfied</li>
          </ul>              
          <div><a class="button mt-4" href="#" aria-label="Click here to Shop now">SHOP NOW</a></div>
        </div>
      </div>
      <div class="col-md p-0 overflow-hidden">
        <a href="#" aria-label="Click here to Shop now">
          <img src="{{ 'duo_dream_team.png' | asset_img_url: '10x' }}" data-src="{{ 'duo_dream_team.png' | asset_url }}" class="lazyload transition--blur-up img-fluid pill-ingr img-full" alt="ST. TROPICA Hair Growth Vitamins"/></a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} Mermaid Mist {% endcomment %}
{% if product.id == 6630743965799 or product.id == 6641187291239 %}
<section>
  <div class="container-fluid px-0">
    <div class="row d-flex align-items-center m-0 lite-gr-bg">
      <div class="col-md p-0 d-block d-md-none">
        <a href="#" aria-label="Click here to Shop now"><img src="{{ 'mermaid_mist_banner.png' | asset_img_url: '10x' }}" data-src="{{ 'mermaid_mist_banner.png' | asset_url }}" class="lazyload transition--blur-up img-fluid" alt="ST.Tropica Luscious Locks"/></a>
      </div>
      <div class="col-md p-md-0">
        <div class="p-md-5">
          <p>Get dramatically Thicker, Fuller Hair in just seconds! Simply spray our amazing Mermaid Mist through damp hair to instantly create Thicker, Fuller, more Voluminous locks, with a subtle hold that can last day or night. Exotic Himalayan Pink Salt enhances volume & texture, Sea Kelp Extract helps strengthen strands, and Argan Oil moisturizes & protects against damage. These three hair ingredient all-stars combine with our renowned Hair Superfood formula to leave hair looking and feeling better than ever before.</p>
          <ul class="ul-disc">
            <li>Every Applicable Ingredient Ranks #1 on the coveted EWG Skin Deep database: the Authority for Clean Beauty</li>
            <li>Free From: Artificial Colors, Artificial Fragrance, Artificial Preservatives, Sulfates, Parabens, Silicone, and Gluten</li>
            <li>Contains Only Certified Natural Fragrance</li>
            <li>Certified Cruelty Free: With No Animal Testing </li>
            <li>Certified Vegan: With No Animal Derived Ingredients</li>
          </ul>              
          <div class="row d-none d-md-block"><a class="button mt-1" href="#" aria-label="Click here to Shop now">SHOP NOW</a></div>
          <div class="d-block d-md-none center">
            <a class="pill-btn button" href="#" aria-label="Click here to Shop now">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="col-md p-0 overflow-hidden d-none d-md-block">
        <a href="#" aria-label="Click here to Shop now"><img src="{{ 'mermaid_mist_banner.png' | asset_img_url: '10x' }}" data-src="{{ 'mermaid_mist_banner.png' | asset_url }}" class="lazyload transition--blur-up img-fluid img-full" alt="ST.Tropica Luscious Locks"/></a>
      </div>
    </div>
  </div>
</section>
{% endif %}