{% comment %}
    Product snippet

    @param product
    @param selected_variant
    @param width
    @param css_class
    @param display_social_buttons
    @param display_thumbnails
    @param enable_product_lightbox
    @param enable_shopify_review_comments
    @param enable_thumbnail_slider
    @param enable_zoom
    @param gallery_arrows
    @param product_description_position
    @param product_height
    @param set_product_height
    @param slideshow_transition
    @param stickers_enabled
    @param tag_style
    @param thumbnail_position
    @param video_looping
    @param section_onboarding
{% endcomment %}

{% if product.id == 6690561785959 or product.id == 6690561720423 or product.id == 6722164293735 or product.id == 6731129421927 %}
  <style>
  .product-tabs #pills-tab {
      display: block;
  }
  </style>
{% endif %}

{% comment %}<style>
.or-separator {
  display: none;
}
.or-separator:has(~.bwp-widget-loaded) {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top:16px;
}
.or-separator:has(~.bwp-widget-loaded)::before {
  margin-right:.5em;
}
.or-separator:has(~.bwp-widget-loaded)::after {
  margin-left:.5em;
}
.or-separator:has(~.bwp-widget-loaded)::after, .or-separator:has(~.bwp-widget-loaded)::before {
  content: "";
  border-bottom: 1px solid black;
  flex: 1;
}
.product-form-container {
  max-width: 62%;
}
</style>{% endcomment %}

{% comment %} HTML markup {% endcomment %}

{% comment %} Tru Bloom Hair Growth Conditioner {% endcomment %}
{% if product.id == 6690561785959 %}
  {% assign Custom__Product__Title = 'Tru Bloom' %}
  {% assign Custom__Product__sTitle = 'Hair Growth Conditioner' %}
  {% assign ProductTags = 'Growth, Hair Loss, Thinning, Thicker, Bald Spots, Longer, Healthier, Curly, Fuller, Color, Nails, Skin' %}
{% endif %}

{% comment %} Tru Bloom Hair Growth Shampoo {% endcomment %}
{% if product.id == 6690561720423 %}
  {% assign Custom__Product__Title = 'Tru Bloom' %}
  {% assign Custom__Product__sTitle = 'Hair Growth Shampoo' %}
  {% assign ProductTags = 'Growth, Hair Loss, Thinning, Thicker, Bald Spots, Longer, Healthier, Curly, Fuller, Color, Nails, Skin' %}
{% endif %}

{% comment %} 180ct {% endcomment %}
{% if product.id == 6612652195943 %}
  {% assign Custom__Product__Title = 'Tru Bloom' %}
  {% assign Custom__Product__sTitle = 'Hair Vitamins - 6 Month Supply' %}
  {% assign ProductTags = 'Growth, Hair Loss, Thinning, Thicker, Bald Spots, Longer, Healthier, Curly, Fuller, Color, Nails, Skin' %}
{% endif %}

{% comment %} 60ct {% endcomment %}
{% if product.id == 1948309946471 %}
  {% assign Custom__Product__Title = 'Tru Bloom' %}
  {% assign Custom__Product__sTitle = 'Hair Vitamins - 2 Month Supply Hair Challenge' %}
  {% assign ProductTags = 'Growth, Hair Loss, Thinning, Thicker, Bald Spots, Longer, Healthier, Curly, Fuller, Color, Nails, Skin' %}
{% endif %}

{% comment %} 30ct {% endcomment %}
{% if product.id == 1417983033447 %}
  {% assign Custom__Product__Title = 'Tru Bloom' %}
  {% assign Custom__Product__sTitle = 'Hair Vitamins - 1 Month Supply' %}
  {% assign ProductTags = 'Growth, Hair Loss, Thinning, Thicker, Bald Spots, Longer, Healthier, Curly, Fuller, Color, Nails, Skin' %}
{% endif %}

{% comment %} Aloha Babe Dry Shampoo {% endcomment %}
{% if product.id == 4600594464871 %}
  {% assign Custom__Product__Title = 'Aloha Babe' %}
  {% assign Custom__Product__sTitle = 'Dry Shampoo' %}
  {% assign ProductTags = 'Results, Volume, Smell' %}
{% endif %}

{% comment %} Leave-In Conditioner {% endcomment %}
{% if product.id == 4537960431719 %}
  {% assign Custom__Product__Title = 'Luscious Locks' %}
  {% assign Custom__Product__sTitle = 'Leave-In Conditioner' %}
  {% assign ProductTags = 'Healthy Hair, Split Ends, Silk, Soft, Smell, Light' %}
{% endif %} 

{% comment %} Beach Goddess {% endcomment %}
{% if product.id == 4600581029991 %}
  {% assign Custom__Product__Title = 'Beach Goddess' %}
  {% assign Custom__Product__sTitle = 'Hot Oil Hair Mask' %}
  {% assign ProductTags = 'Thicker, Shiny, Frizz, Smooth, Soft, Stronger, Repair, Moisture' %}
{% endif %}

{% comment %} 8oz Mermaid Mist {% endcomment %}
{% if product.id == 6630743965799 %}
  {% assign Custom__Product__Title = 'Mermaid Mist' %}
  {% assign Custom__Product__sTitle = 'Hair Thickening Spray' %}
  {% assign ProductTags = 'Thicker, Fuller, Volume, Smell, Boost' %}
{% endif %}

{% comment %} 1oz Mermaid Mist {% endcomment %}
{% if product.id == 6641187291239 %}
  {% assign Custom__Product__Title = 'Mermaid Mist' %}
  {% assign Custom__Product__sTitle = 'Hair Thickening Spray' %}
  {% assign ProductTags = 'Thicker, Fuller, Volume, Smell, Boost' %}
{% endif %}

{% comment %} Gift card {% endcomment %}
  {% if product.id == 4546091745383 %}
  {% assign Custom__Product__Title = 'Gift Card' %}
  {% assign Custom__Product__sTitle = 'Digital Gift Card' %}
{% endif %}

{% comment %} Long & Lush Bundle {% endcomment %}
{% if product.id == 4757507407975 %}
  {% assign Custom__Product__Title = 'Long & Strong Bundle' %}
  {% assign Custom__Product__sTitle = 'Luscious Locks + Beach Goddess + Tru Bloom' %}
{% endif %}

{% comment %} Duo Dream Team {% endcomment %}
{% if product.id == 4757508227175 %}
  {% assign Custom__Product__Title = 'Duo Dream Team' %}
  {% assign Custom__Product__sTitle = 'Tru Bloom + Beach Goddess' %}
{% endif %}

{% comment %} SELFCARE Bundle {% endcomment %}
{% if product.id == 4752079814759 %}
  {% assign Custom__Product__Title = 'SELFCARE Bundle' %}
  {% assign Custom__Product__sTitle = 'Selfcare Bundle' %}
{% endif %}

{% comment %} Fresh & Fabulous Bundle {% endcomment %}
{% if product.id == 4757508784231 %}
  {% assign Custom__Product__Title = 'Fresh & Fabulous Bundle' %}
  {% assign Custom__Product__sTitle = 'Fresh & Fabulous Bundle' %}
{% endif %}

{% comment %} TROPICAL TOUCH {% endcomment %}
{% if product.id == 6554709229671 or product.id == 6538018750567 or product.id == 6556149776487 or product.id == 6556149842023 or product.id == 6557132423271 %}
  {% assign Custom__Product__Title = 'Tropical Touch' %}
{% endif %}

{% comment %} Tropical Touch L {% endcomment %}
{% if product.id == 6554709229671 %}{% assign Custom__Product__sTitle = 'Beauty Sanitizer (Jumbo)' %}{% endif %}
{% comment %}Tropical Touch S {% endcomment %}
{% if product.id == 6538018750567 %}{% assign Custom__Product__sTitle = 'Beauty Sanitizer (2 Pack)' %}{% endif %}
{% comment %} Tropical Touch solo {% endcomment %}
{% if product.id == 6556149776487 %}{% assign Custom__Product__sTitle = 'Beauty Sanitizer (Solo Set)' %}{% endif %}
{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6556149842023 %}{% assign Custom__Product__sTitle = 'Beauty Sanitizer (Duo Set)' %}{% endif %}
{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6557132423271 %}{% assign Custom__Product__sTitle = 'Beauty Sanitizer (Travel Pack)' %}{% endif %}

{% comment %} Fresh & Fabulous Bundle {% endcomment %}
{% if product.id == 1443134275687 %}
  {% assign Custom__Product__Title = 'Beauty Coco' %}
  {% assign Custom__Product__sTitle = 'Pure Virgin Coconut Oil' %}
{% endif %}


<div class="product_section
            js-product_section
            container-fluid
            has-padding-bottom
            {% if product_images_position == 'right' %}
              is-flex-row-reverse
            {% endif %}">
  <div class="row">
  <div class="product__images
              col-md-7
              column
              medium-down--one-whole">
    {% if section_onboarding %}
      <div class="featured-product__images">
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
      </div>
    {% else %}
      {%   render 'product__images',
        product: product,
        display_thumbnails: display_thumbnails,
        thumbnail_position: thumbnail_position,
        enable_thumbnail_slider: enable_thumbnail_slider,
        product_height: product_height,
        set_product_height: set_product_height,
        video_looping: video_looping
        gallery_arrows: gallery_arrows,
        slideshow_transition: slideshow_transition,
        enable_product_lightbox: enable_product_lightbox,
        enable_zoom: enable_zoom
      %}
    {% endif %}
  </div>

  <div class="product__information
              has-product-sticker
              col-md-5 ps-md-2 pt-md-2
              column
              medium-down--one-whole">

    {% comment %} Sale sticker {% endcomment %}
    {% if stickers_enabled %}
      {% assign collection_handles = product.collections | map: 'handle' %}
      {%
        render 'product-thumbnail__sticker',
        context: 'product',
        collection_handles: collection_handles,
      %}
    {% endif %}

    {%- for block in section.blocks -%}
      <div class="product-block
                  product-block--{{ block.type | downcase | replace: '_', '-' }}
                  {% if forloop.first == true %}
                    product-block--first
                  {% endif %}"
                  {{ block.shopify_attributes }}>

        {%- if block.type == 'vendor' -%}
          {% comment %} Vendor {% endcomment %}
          <p class="vendor">
            <span class="vendor">
              {% if section_onboarding %}
                Vendor name
              {% else %}
                {{ product.vendor | link_to_vendor }}
              {% endif %}
            </span>
          </p>

        {%- elsif block.type == 'sku' -%}
          {% comment %} Sku {% endcomment %}
          <p class="sku">
            {% if section_onboarding %}
              1234567890
            {% else %}
              {{ selected_variant.sku }}
            {% endif %}
          </p>

        {%- elsif block.type == 'title' -%}
          {% comment %} Name 
          <h1 class="product_name title">
            {% if section_id == 'quickshop' %}
              <a href="{{ product.url }}">{{ product.title }}</a>
            {% elsif section_onboarding %}
              {{ 'homepage.onboarding.product_title' | t }}
            {% else %}
              {{ product.title }}
            {% endif %}
          </h1>{% endcomment %}
        
          <h4 class="product_name title mb-0">{{ Custom__Product__Title }}</h4>
		  <h1 class="product_name title">{{ Custom__Product__sTitle }}</h1>
          <!-- Stamped - Begin Star Rating Badge --><!-- test 1 -->
          <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-title="{{product.title}}" data-product-type="{{product.type}}" style="display: block;"></span>
          <!-- Stamped - End Star Rating Badge -->
        
        {%- elsif block.type == 'product__title' -%}
        
          <h4 class="product_name title mb-0">{{ block.settings.product__title_1 }}</h4>
          <h1 class="product_name title">{{ block.settings.product__title_2 }}</h1>
          {% if block.settings.Review__enable %}
        <!-- test 2 -->
          <!-- Stamped - Begin Star Rating Badge --><!-- test 1 -->
          <span class="stamped-product-reviews-badge stamped-main-badge product1" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-title="{{product.title}}" data-product-type="{{product.type}}" style="display: block;"></span>
          <!-- Stamped - End Star Rating Badge -->
          {% endif %}
        {%- elsif block.type == 'product__description' -%}
        	
        {{ block.settings.product__description_1 }}
        

        {%- elsif block.type == 'size-chart' -%}
        
          {% comment %} Size chart {% endcomment %}
          {% for tag in product.tags %}
            {% if tag contains 'meta-size-chart-' %}
              {% assign meta-size-chart = true %}
            {% endif %}
          {% endfor %}

          {% comment %} Size chart Mobile {% endcomment %}
          {% if block.settings.size_chart != blank or meta-size-chart %}
            <a href="javascript:;" class="product__size-chart size-chart--medium-down" data-fancybox data-src="#size-chart{{ product.id }}" data-type="inline">{{ 'products.product.size_chart' | t }} {% render 'icon', name: 'right-caret' %}</a>
            {% render 'popup-size-chart', product_id: product.id %}
          {% endif %}
        
          {% comment %} Size chart {% endcomment %}
          {% if block.settings.size_chart != blank or meta-size-chart %}
            <a href="javascript:;" class="product__size-chart medium-down--hidden" data-fancybox data-src="#size-chart{{ product.id }}" data-type="inline">{{ 'products.product.size_chart' | t }} {% render 'icon', name: 'right-caret' %}</a>
            {% render 'popup-size-chart', product_id: product.id %}
          {% endif %}

        {%- elsif block.type == 'price' -%}
        
          {% comment %} Price {% endcomment %}
          <div class="modal_price subtitle mb-0" data-display-savings="{{ block.settings.display_savings }}">
            {% if section_onboarding %}
              <span class="money">$49.00</span>
            {% else %}
              {% comment %}Inject @pixelunion/shopify-price-ui/price-ui begin{% endcomment %}
              <div class="price-ui price-ui--loading" data-price-ui>
                <noscript>
                  <style>
                    .price-ui--loading {
                      display: block !important;
                      opacity: 1 !important;
                    }
                  </style>
                </noscript>
                {% assign compare_at_price = false %}
              
                {% if product.compare_at_price and product.compare_at_price != product.price %}
                  {% if product.compare_at_price_varies %}
                    {%- capture price_min -%}
                      {%-
                        render 'price-ui-templates',
                        template: 'price-min',
                        value: product.compare_at_price_min,
                      -%}
                    {%- endcapture -%}
              
                    {%- capture price_max -%}
                      {%-
                        render 'price-ui-templates',
                        template: 'price-max',
                        value: product.compare_at_price_max,
                      -%}
                    {%- endcapture -%}
              
                    {%- assign compare_at_price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
                  {% else %}
                    {%- capture compare_at_price -%}
                      {%-
                        render 'price-ui-templates',
                        template: 'price',
                        value: product.compare_at_price,
                      -%}
                    {%- endcapture -%}
                  {% endif %}
                {% endif %}
              
                {% if product.price_varies %}
                  {%- capture price_min -%}
                    {%-
                      render 'price-ui-templates',
                      template: 'price-min',
                      value: product.price_min,
                    -%}
                  {%- endcapture -%}
              
                  {%- capture price_max -%}
                    {%-
                      render 'price-ui-templates',
                      template: 'price-max',
                      value: product.price_max,
                    -%}
                  {%- endcapture -%}
              
                  {%- assign price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
                {% else %}
                  {%- capture price -%}
                    {%-
                      render 'price-ui-templates',
                      template: 'price',
                      value: product.price,
                    -%}
                  {%- endcapture -%}
                {% endif %}
              
                {%-
                  render 'price-ui-templates',
                  template: 'price-ui',
                  compare_at_price: compare_at_price,
                  price: price,
                  unit_pricing: false,
                -%}
              </div>
              {% comment %}Inject @pixelunion/shopify-price-ui/price-ui end{% endcomment %}

            {% endif %}
          </div>
        
        {% comment %}{{ product.description }}{% endcomment %}
        
        {%- elsif block.type == 'description' -%}
        
          {% comment %} Description {% endcomment %}
          {% if block.settings.custom_description != blank %}
            <div class="description content">
              {{ block.settings.custom_description }}
            </div>
          {% elsif section_onboarding %}
            <div class="description content">
              <p>
                {{ 'homepage.onboarding.product_description' | t }}
              </p>
            </div>
          {% else %}
            {% if product.description != blank %}
              <div class="description content">
                {{ product.description | split: '<!-- split -->' | first }}
              </div>
            {% endif %}
          {% endif %}

        {%- elsif block.type == 'form' -%}
        
          {% comment %} Purchase form {% endcomment %}
          {% if section_onboarding %}
            <div class="product-form-container">
              <div class="purchase-details">
                <div class="purchase-details__buttons purchase-details__spb--false">
                  <button name="add" class="action_button button button--add-to-cart add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ 'products.product.add_to_cart' | t }}</span></button>
                </div>
              </div>
            </div>
          {% else %}
            <div class="product-form-container">
              
              {% if product.id == 6554709229671 or product.id == 6538018750567 or product.id == 6556149776487 or product.id == 6556149842023 or product.id == 6557132423271 or product.id == 4600594464871 %}
                <div class="us-only">
                  {% unless collection_handles contains 'coming-soon' %}
                  {%
                    render 'product__form',
                    context: 'product',
                    product: product,
                    sold_out_options: sold_out_options,
                    selected_variant: selected_variant,
                    show_payment_button: block.settings.show_payment_button,
                    collection_handles: collection_handles
                  %}
                  {% endunless %}
                </div>
                <div class="international-only mt-4">
                  <h3>This item is not available in your country or region kindly check back later</h3><br>
                </div>
              {% else %}
                {% comment %} Notify form {% endcomment %}
                {% render 'product__notify-me-form', product: product %}

                {% comment %} Product form {% endcomment %}
                {% unless collection_handles contains 'coming-soon' %}
                  {%
                    render 'product__form',
                    context: 'product',
                    product: product,
                    sold_out_options: sold_out_options,
                    selected_variant: selected_variant,
                    show_payment_button: block.settings.show_payment_button,
                    collection_handles: collection_handles
                  %}
                {% endunless %}
              {% endif %}
              
              {% comment %} Made with love icons {% endcomment %}
              {% if product.id == 1948309946471 or product.id == 1417983033447 or product.id == 6612652195943 or product.id == 6722164293735 %}
              
              {% else %}
              
              {% endif %}
              
            </div>
          {% endif %}

        {%- elsif block.type == 'product-links' -%}
        
          {% comment %} Collections, type, tags {% endcomment %}
          {% if block.settings.show_collections or block.settings.show_tags or block.settings.show_type %}
            <div class="product__classification-links has-padding-top">
              {% if block.settings.show_collections %}
                <p class="product__collections-list tags">
                  <span class="product__classification-title">{{ 'products.product.collections' | t }}:</span>
                  {% for col in product.collections %}
                    <span class="tag tag--{{ tag_style }}">
                      <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>
                    </span>
                  {% endfor %}
                </p>
              {% endif %}

              {% if block.settings.show_type %}
                <p class="product__type-list tags">
                  <span class="product__classification-title">{{ 'products.product.product_types' | t }}:</span>
                  <span class="tag tag--{{ tag_style }}">{{ product.type | link_to_type }}</span>
                </p>
              {% endif %}

              {% if block.settings.show_tags and product.tags.size > 0 %}
                <p class="product__tags-list tags">
                  <span class="product__classification-title">{{ 'products.product.tags' | t }}:</span>
                  {% for tag in product.tags %}
                    {% unless tag contains 'meta-' %}
                      <span class="tag tag--{{ tag_style }}">
                        <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>
                      </span>
                    {% endunless %}
                  {% endfor %}
                </p>
              {% endif %}
            </div>
          {% endif %}

        {%- elsif block.type == 'share' -%}
        
          {% comment %} Social share icons {% endcomment %}
          <div class="product__social-share has-padding-top">
            {% render 'social-share-buttons' %}
          </div>

        {%- elsif block.type == 'text' -%}
        
          {% comment %} Text {% endcomment %}
          <div class="product-text">
            {{ block.settings.text }}
          </div>
        
        {% elsif block.type == '@app' %}
        
          <div class="product-app">
            {% render block %}
          </div>
        
        {%- endif -%}
       
    </div>

    {%- endfor -%}

    {% if product.id == 6690561327207 %}
      <div class="my-4" style="max-width: 500px;">
        <div class="accordion mb-4" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="day1day60">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span style="font-size: 52px; padding-right: 15px; font-family: 'gilroyheavy';">BONUS!</span>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="day1day60" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Send us your (Day 1/Day 60) before and after photos + review, we'll send you a FREE <a href="/products/st-tropica-beach-goddess-hot-oil-hair-mask">Beach Goddess Hot Oil Hair Mask</a> (a $17.50 value)!</p>
                <p><a href="/products/st-tropica-beach-goddess-hot-oil-hair-mask"><img class="img-fluid" src="{{ 'BeachGoddess_600x.png' | asset_url }}" alt="ST.Tropica Beach Goddess"/></a></p>
                <p></p><p></p>
                <p class="text-center">See terms & conditions <a href="/pages/terms-and-conditions"> here</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if product.id == 6722164293735 %}
      <div class="my-4" style="max-width: 500px;">
        <div class="accordion mb-4" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="day1day60">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Take the 10 Minute Hair Challenge...<br>with a Limited Bonus!
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="day1day60" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Try our mind-boggling new Hair Growth Shampoo Set. It will literally Transform Your Hair and Your Scalp in 10 Minutes Flat, or Your Money Back.</p>
                <p>2 Years in the making, because it had to check ALL the boxes. And believe us it does.</p>
                <p>Our Promise: If it doesn’t completely transform both your Hair and your Scalp after just 1 single use, better than any shampoo experience you’ve ever had… leaving your Hair & Scalp feeling better than you’ve ever known… simply send it back for a Full Refund!</p>
                <p>Take our New 10 MINUTE Hair Challenge Now</p>
                {%
                    render 'product__form',
                    context: 'product',
                    product: product,
                    sold_out_options: sold_out_options,
                    selected_variant: selected_variant,
                    show_payment_button: block.settings.show_payment_button,
                    collection_handles: collection_handles
                %}
                <p><b>BONUS:</b> Send us your before & after photos + review, and we'll send you a <b><a href="/products/tru-bloom-hair-growth-serum-1-oz">FREE Tru Bloom Hair Growth Serum</a> (a $27 value)!</b></p>
                <p><a href="/products/tru-bloom-hair-growth-serum-1-oz"><img class="img-fluid" src="{{ 'bonushairgrowthserum.png' | asset_url }}" alt="ST.Tropica Day 60 review"/></a></p>
                <p></p><p></p>
                <p class="text-center">See terms & conditions <a href="/pages/10-minute-hair-challenge-terms-conditions"> here</a></p>
                {% comment %}<button type="submit" name="add" onclick="topFunction()" id="scrolltotop" class="button action_button button--add-to-cart action_button--secondary" data-label="ADD TO CART" data-add-to-cart-trigger="" data-uw-rm-form="submit">
                  <span class="text">ADD TO CART</span>
                </button>{% endcomment %}
              </div>
            </div>
          </div>
        </div>
        {% comment %}
        <script>
        let mybutton = document.getElementById("scrolltotop");
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
        } else {
        mybutton.style.display = "none";
        }
        }
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
        </script>
        {% endcomment %}
      </div>
    {% endif %}
    
    {% comment %} Made with love icons {% endcomment %}
    {% if product.id == 1948309946471 or product.id == 1417983033447 %}
    <div class="mb-4" style="max-width: 500px;">
      <div>
        {% if product.id == 1948309946471 %}
        <div class="accordion mb-4" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="day1day60_bonus">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Take our 60-Day Hair Challenge & receive a <span style="font-size: 52px; padding-right: 15px; font-family: 'gilroyheavy';">BONUS!</span>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="day1day60_bonus" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Once you have completed your 60-Day Hair Challenge, send us your (Day 1/Day 60) before and after photos + review, we'll send you a <b><a href="/products/st-tropica-hair-growth-vitamins">FREE 1 Month Supply of Hair Vitamins</a> (a $25 value)!</b></p>
                <a href="/products/st-tropica-hair-growth-vitamins"><img class="img-fluid" src="{{ 'Bonus30pilljaropened.png' | asset_url }}" alt="ST.Tropica Day 60 review"/></a>
                <p></p><p></p>
                <p class="text-center">See terms & conditions <a href="/pages/hair-challenge-terms-conditions"> here</a></p>
              </div>
            </div>
          </div>
          <div class="accordion-item">    
            <h2 class="accordion-header" id="day1day60">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                DAY 1 AND DAY 60
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="day1day60" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <img class="img-fluid mb-2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="{{ '60pillreview2.png' | asset_url }}" alt="ST.Tropica Day 60 review"/>
                <img class="img-fluid" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="{{ '60pillreview1.png' | asset_url }}" alt="ST.Tropica Day 60 review"/>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        {% endif %}
      </div>
      {% comment %}<div class="pmbg"><img src="{{ 'sttropica_made_with_love_icons_product.png' | asset_img_url: '10x' }}" data-src="{{ 'sttropica_made_with_love_icons_product.png' | asset_url }}" class="lazyload blur-up img-fluid center" alt="ST.Tropica Made with love icons"/></div>{% endcomment %}
    </div>
    {% else %}
      
    {% endif %}
    {% if product.id == 6612652195943 %}
    
    {% else %}
    <div class="mb-4" style="max-width: 500px;">
      <div>
        {% if product.id == 1948309946471 %}
        <a href="/pages/hair-challenge-terms-conditions">
          <h1 class="product_name title text-center mb-4" style="font-weight: bold;">
            <img class="img-fluid money-back-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="{{ 'blownaway_moneyback.png' | asset_url }}" alt="ST.Tropica Money Back Guarantee"/>
          </h1>
        </a>
        {% else %}
        <a href="/pages/terms-and-conditions">
        <h1 class="product_name title text-center mb-4" style="font-weight: bold;">
          <img class="img-fluid money-back-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="{{ 'blownaway_moneyback.png' | asset_url }}" alt="ST.Tropica Money Back Guarantee"/>
        </h1>
        </a>
        {% endif %}
      </div>
      {% comment %}<div class="pmbg"><img src="{{ 'sttropica_made_with_love_icons_product.png' | asset_img_url: '10x' }}" data-src="{{ 'sttropica_made_with_love_icons_product.png' | asset_url }}" class="lazyload blur-up img-fluid center" alt="ST.Tropica Made with love icons"/></div>{% endcomment %}
    </div>
  {% endif %}

  </div>
    
  {% if template contains 'Trubloom_30ct' or product.id == 6755016212583 or product.id == 6755016409191 or product.id == 1948309946471 or product.id == 6612652195943 or product.id == 6690561720423 or product.id == 6690561785959 or product.id == 6722164293735 or product.id == 6731129421927 or product.id == 6736864084071 or product.id == 6690561327207 %}
        
  {% else %}
  <div class="product-tabs mt-5">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
      
      {% if product.id == 6630743965799 or product.id == 6641187291239 %}
      
      {% else %}
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="true">DESCRIPTION</button>
      </li>
      {% endif %}
      
      <li class="nav-item" role="presentation">
        <button class="nav-link {% if product.id == 6630743965799 or product.id == 6641187291239 %}active{% else %}{% endif %}" id="pills-directions-tab" data-bs-toggle="pill" data-bs-target="#pills-directions" type="button" role="tab" aria-controls="pills-directions" aria-selected="false">DIRECTIONS</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-ingredients-tab" data-bs-toggle="pill" data-bs-target="#pills-ingredients" type="button" role="tab" aria-controls="pills-ingredients" aria-selected="false">INGREDIENTS</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-faqs-tab" data-bs-toggle="pill" data-bs-target="#pills-faqs" type="button" role="tab" aria-controls="pills-faqs" aria-selected="false">FAQs</button>
      </li>
    
      {% if product.id == 6612652195943 %}
      
      {% else %}
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-guarantee-tab" data-bs-toggle="pill" data-bs-target="#pills-guarantee" type="button" role="tab" aria-controls="pills-guarantee" aria-selected="false">MONEY-BACK GUARANTEE</button>
      </li>
      {% endif %}
    
    </ul>
    <div class="tab-content" id="pills-tabContent">
      {% if product.id == 6630743965799 or product.id == 6641187291239 %}
      
      {% else %}
      <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">{% render 'Product__Description' %}</div>
      {% endif %}
      <div class="tab-pane fade mt-5 {% if product.id == 6630743965799 or product.id == 6641187291239 %}show active{% else %}{% endif %}" id="pills-directions" role="tabpanel" aria-labelledby="pills-directions-tab">{% render 'Product__Direction' %}</div>
      <div class="tab-pane fade mt-5" id="pills-ingredients" role="tabpanel" aria-labelledby="pills-ingredients-tab">{% render 'Product__Ingredients' %}</div>      
      <div class="tab-pane fade mt-5" id="pills-faqs" role="tabpanel" aria-labelledby="pills-ingredients-tab">{% render 'Product__faqs' %}</div>
      <div class="tab-pane fade mt-5" id="pills-guarantee" role="tabpanel" aria-labelledby="pills-guarantee-tab">{% render 'Product__Guarantee' %}</div>
    </div>
  </div>    

    {% comment %}{% render 'Product__Featured' %}{% endcomment %}
 {% if product.id == 1417983033447 or product.id == 6612652195943 %}
<!-- Stamped - Begin main-widget -->
<div id="stamped-main-widget" class="stamped-main-widget product1a" data-tags-include="Covid,Chemo,Autoimmune,Menhairloss,Lupus">  </div>
<!-- Stamped - End main-widget -->
{% else %}
<!-- Stamped - Begin main-widget -->
<div id="stamped-main-widget" class="stamped-main-widget  product1b" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}">  </div>
<!-- Stamped - End main-widget -->
{% endif %}  
{% endif %}
    
  </div>
</div>