{% assign reviewCount = reviewCount | plus:1 %}
<h2 class="accordion-header" id="heading{{reviewCount}}">
  <button class="accordion-button {% if block.settings.faqs__expand == "false" %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{reviewCount}}" aria-expanded="{{block.settings.faqs__expand}}" aria-controls="collapse{{reviewCount}}">
    {{block.settings.heading}}
  </button>
</h2>
<div id="collapse{{reviewCount}}" class="accordion-collapse collapse {% if block.settings.faqs__expand == "true" %}show{% endif %}" aria-labelledby="heading{{reviewCount}}" data-bs-parent="#accordionExample">
  <div class="accordion-body">
    {{block.settings.specialized__faqs_ans}}
  </div>
</div>

