{% comment %}
  To edit the contents of this file, look inside the `sections` folder for the file name that comes directly after `section`. Eg. {% section 'product__main' %} or {% section 'page__banner' %}
{% endcomment %}

<main id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section default-page">

<section class="people-says">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <a href="{{ 'sttropica-hairvitamins-half-m2.png' | asset_url }}" class="lightbox" title="ST. TROPICA Hair Growth Vitamins">
          {{ 'sttropica-hairvitamins-half-m2.png' | asset_url | img_tag : 'ST. TROPICA Hair Growth Vitamins', 'img-fluid' }}
        </a>
      </div>
      <div class="col-md-6 px-5 px-md-0">
        <h1 class="mainh1 text-left">Longer<br>Stronger<br>Thicker Hair</h1>
        <p class="hv-sub-heading">HAIR GROWTH VITAMINS</p>
        <div class="hv-cont">
          <p><b>SELFISHLY MADE!</b> When we decided to create ST. TROPICA Hair Growth Vitamins, we set out to create our own “Dream” Hair Vitamin: the one that we ourselves would actually take every day - to Grow Hair naturally &amp; most effectively. Good news - it’s no longer selfish – as we now get to share with you, what we believe is the Best Hair Vitamin… Ever!</p>
          <p><b>BIOACTIVE EFFICACY:</b> Specifically designed to accelerate Hair Growth, for LONGER, STRONGER, THICKER HAIR while helping to prevent Hair Thinning, Hair Loss &amp; Hair fall. Formulated with 11 essential Hair Health ingredients (Vitamins, Proteins &amp; Minerals) + 7 exclusive HAIR SUPERFOODS to help improve the rate of Hair Growth, Hair Texture, Strength &amp; Shine! Healthy Hair requires a Healthy Scalp. Helps nourish Hair Follicles, thus reversing damage at the root, promoting new Hair Growth, naturally.</p>
          <p><b>BEST OF THE BEST:</b> With a blank canvas and no budget, we could have chosen any ingredients we wanted, with one singular goal, being Maximum Hair Growth. And that’s exactly what we did. Think of it as our ultimate wish-list, realized! Recommended for Thinning Hair, Hair fall or Hair Loss... and to Grow Hair at Optimum levels.</p>
          <p><b>HAND SELECTED &amp; CROSS CHECKED:</b> Every single ingredient in our exclusive formula has been hand-selected regardless of cost, in our quest to create the World’s Best Hair Vitamin… and rigorously researched &amp; evaluated for efficacy as well as safety, having been ran against Skin Deep database – the Authority for Clean Label, and cross-checked against WebMD – the Authority for Side Effects.</p>
          <p><b>UNBEATABLE 100 DAY GUARANTEE:</b> Get Longer, Stronger, Thicker Hair in 60 Days Flat, or Your Money Back. Our 60 Day Challenge comes with a 100-DAY Money Back Guarantee! (Keep your bottle)
          <p><b>DOES NOT CONTAIN:</b> Sugar, Dairy, Gelatin, Nuts, Shellfish, Gluten, Trans Fats, Binders, Artificial Flavors, Artificial Colors or Preservatives.</p>
          <p><b>KEY INGREDIENTS:</b></p>
          <p><b>Biotin</b> - Rich in hair vitamins, Biotin has long since been considered THE anchor ingredient in all things hair, nails &amp; skin for strength &amp; enhanced hair shine. It encourages healthy hair growth and is also known to increase hair's elasticity, thereby minimizing hair breakage.</p>
          <p><b>Hibiscus</b> - Widely known to help restrict hair fall as a result of its unique genetic make-up of Vitamin C, Phosphorous, Riboflavin, Calcium &amp; Carotene.</p>
          <p><b>Amla</b> - Also known as the Gooseberry, is famous in India/Asia and best known for its rich source of antioxidants &amp; essential fatty acids which serve to keep the hair follicles strong, while adding a lustrous softness from root to tip.</p>
          <p><b>Black Bean powder</b> - Black beans provide plenty of protein to promote hair growth as well as iron, zinc and biotin.</p>
          <p><b>Spinach powder</b> - Like so many dark green leafy vegetables, spinach is full of amazing nutrients. It has tons of vitamin A, plus iron, beta carotene, folate, and vitamin C. These work together for a healthy scalp and mane; keeping your hair moisturized so it doesn't break.</p>
          <p><b>Acai Berry</b> - known as the "beauty berry" in Brazil.  A healthy scalp is a prerequisite for healthy hair, optimum hair growth, and to avoid dreaded hair fall.  And the prereq to a healthy scalp is having enough essential fatty acids, proteins, and vitamins in our system.  Amazingly, Acai has all the bases covered.</p>
          <p><b>Essential fatty acids:</b> it contains the Big 3 – Omega 3, 6 and 9
          <p><b>Essential Proteins:</b> it packs more protein than an egg</p>
          <p><b>Essential Vitamins:</b> a rich source of vitamin B, C, &amp; E<br>
            Acai also contains key minerals zinc, magnesium, iron &amp; calcium.</p>
          <p>All of nature’s magic above, work in harmony to nourish the scalp, give hair follicles the nutrition they need, while strengthening hair from the roots to the tips.</p>
        </div>
        <div class="row">
          <div class="col-md-7 text-center" style="z-index: 1;">
            {{ 'sttropica-hairvitamins-icons.png' | asset_url | img_tag : 'ST. TROPICA Hair Growth Vitamins', 'img-fluid' }}
            <a class="button mt-4" href="https://sttropica.com/products/st-tropica-hair-vitamins-hair-challenge-2-month-supply">SHOP NOW</a>
          </div>
          <div class="col-md-5">
            {{ 'sttropica-hairvitamins-flower.png' | asset_url | img_tag : 'ST. TROPICA Hair Growth Vitamins', 'hv-flower-img' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</main>