
<div class="page clearfix">
  <div>
    {{ page.content }}

    <section class="ingr-products stt-pink-bg p-0">
      <div class="d-none d-md-block text-center mb-n3">
        <img src="{{ 'ingredients_page_wave_pink.png' | asset_img_url: '10x' }}" data-src="{{ 'ingredients_page_wave_pink.png' | asset_url }}" class="lazyload blur-up wave-top img-fluid p-0 mt-n5" alt="ST.Tropica Wave"/>
      </div>
      <div class="ingr-products-inner">
        <div class="container-fluid">
          <h1 class="mainh1 stt-pink-text text-center pt-4 pt-md-0">Ingredients & Benefits</h1>

          <div class="ingr-slide" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z" }'>

            <div class="carousel-cell col-md-4 col-12 text-center px-3"><a href="#hair_vitamins_details"><img alt="Ingredients - Hair Growth Vitamins" src="{{ 'pill_jar_directions.png' | asset_url }}"/></a><br />
              <h1 class="ingr-h1 stt-m-t-p">Hair Growth Vitamins</h1>
              <p>In addition to essential hair nutrients, our exclusive Hair Superfood formula includes legendary, time-honored ingredients which have been used for centuries around the world. Consider this the secret to beautiful, lustrous hair.</p>
            </div>
            <div class="carousel-cell col-md-4 col-12 text-center px-3"><a href="#mm_details"><img alt="Ingredients - Mermaid Mist" src="{{ 'Mermaid_Mist_directions.png' | asset_url }}"/></a><br />
              <h1 class="ingr-h1 stt-m-t-p">Hair Thickening Spray</h1>
              <p>Get dramatically Thicker, Fuller Hair in just seconds! Simply spray our amazing Mermaid Mist through damp hair to instantly create Thicker, Fuller and more Voluminous locks.</p>
            </div>
            <div class="carousel-cell col-md-4 col-12 text-center px-3"><a href="#hair_mask_details"><img alt="Ingredients - Hot Oil Hair Mask" src="{{ 'beach_godess_directions.png' | asset_url }}"/></a><br />
              <h1 class="ingr-h1 stt-m-t-p">Hot Oil Hair Mask</h1>
              <p>Made with Virgin Coconut Oil (VCO) now proven to increase hair strength by reducing protein loss. We use only cold pressed, unrefined, 100% Organic VCO in our Hair Mask, combined with exotic Hair Superfoods to nourish strands from the inside out.</p>
            </div>
            <div class="carousel-cell col-md-4 col-12 text-center px-3"><a href="#luscious_details"><img alt="Ingredients - Luscious Locks" src="{{ 'luscious_locks_directions.png' | asset_url }}"/></a><br />
              <h1 class="ingr-h1 stt-m-t-p">Leave-In Conditioner</h1>
              <p>A next-level hair care product for remarkably ravishing locks, this beauty contains exotic hair superfoods to lock in moisture and nourish strands, giving hair a strong, vibrant, healthy appearance. </p>
            </div>
            <div class="carousel-cell col-md-4 col-12 text-center px-3"><a href="#aloha_details"><img alt="Ingredients - Dry Shampoo" src="{{ 'dryshampoo_direction.png' | asset_url }}"/></a><br />
              <h1 class="ingr-h1 stt-m-t-p">Dry Shampoo</h1>
              <p>Natural Tapioca Starch deeply cleanses hair and scalp in an instant, while our Hair Superfood formula of Organic Bhringraj, Amla, Hibiscus, and Horsetail provides vital moisturization to dry, brittle hair.</p>
            </div>
            <div class="carousel-cell col-md-4 col-12 text-center px-3"><a href="#tropical_touch_details"><img alt="Ingredients - Tropical Touch" src="{{ 'topical_touch_directions.png' | asset_url }}"/></a><br />
              <h1 class="ingr-h1 stt-m-t-p">Beauty Sanitizer</h1>
              <p>Kills 99.9% of Germs while providing essential moisture and delivering visible wrinkle-defense and firming action to skin, leaving hands feeling smooth, soft, and clean.</p>
            </div>
            {% comment %}<div class="carousel-cell col-md-4 col-12 text-center px-3"><a href="#beauty_coco_details"><img alt="Ingredients - Beauty Coco" src="{{ 'Beauty_coco_ingredients.png' | asset_url }}"/></a><br />
            <h1 class="ingr-h1 stt-m-t-p">Beauty Coco</h1>
            <p>We didn’t stop until we found the highest quality, 100% Virgin Organic Coconut Oil. Chock full of practically endless beauty uses and with a delightfully tropical coconut aroma.</p>
            </div>{% endcomment %}

          </div>

        </div>
      </div>
      <div class="d-none d-md-block text-center mt-n3">
        <img src="{{ 'ingredients_page_wave_pink.png' | asset_img_url: '10x' }}" data-src="{{ 'ingredients_page_wave_pink.png' | asset_url }}" class="lazyload blur-up wave-pink-z img-fluid p-0 mb-n5" alt="ST.Tropica Wave"/>
      </div>
    </section>

    <div class="container mb-0 mt-4">
      <h1 class="mainh1 mx-auto pb-4 pt-5">How we select our ingredients</h1>
      <div class="ingr-header">
        <p style="text-align:left;">It’s not only about using natural and organic ingredients. It’s about the quality of those ingredients. </p>
        <p style="text-align:left;">That’s why we scour the earth for legendary, time-honored superfood ingredients that offer the highest quality and performance in our superb formulations. Via thorough research and evaluation, we hand select the best of the best, plant & fruit-based ingredients to use in our unique, handcrafted products.</p>
        <p style="text-align:left;">At ST. TROPICA, we are obsessed with gorgeous, healthy hair and passionate about clean, nontoxic beauty... that is not only better for our customers, but also our animal friends, and the fragile environment we all share. We go to great lengths to offer natural & organic products that are free from harmful and animal-derived ingredients, and free from any form of animal testing; with a focus on earth friendliness, and conscientious sourcing.</p>
        <p style="text-align:left;">When you use ST. TROPICA natural hair products, you are giving your hair the very best.</p>
      </div>
    </div>

    <section class="stt-pink-bg p-0 ingre-bg">
      <div class="d-none d-md-block text-center mb-n3">
        <img src="{{ 'ingredients_page_wave_white.png' | asset_img_url: '10x' }}" data-src="{{ 'ingredients_page_wave_white.png' | asset_url }}" class="lazyload blur-up img-fluid p-0" alt="ST.Tropica Wave"/>
      </div>
      <img src="{{ 'ingredients_page_wave_m.png' | asset_img_url: '10x' }}" data-src="{{ 'ingredients_page_wave_m.png' | asset_url }}" class="lazyload blur-up wave-top img-fluid p-0 d-block d-md-none" alt="ST.Tropica Wave"/>
      <h1 class="mainh1 text-white text-center py-4 mt-md-5">How we source <br class="d-block d-md-none"/> our ingredients</h1>
      <div class="container-fluid">
        <div class="row px-md-5 pb-md-5">
          <div class="col-6 col-md text-center pl-5 pl-md-3">{{ 'ingredients_page_icons_1.png' | asset_url | img_tag : 'Ingredients page icons', 'ingr-icons-w px-md-5 pb-md-3' }}<br><p class="text-white px-md-3">Virtually all of our products rank #1 on Skin Deep</p></div>
          <div class="col-6 col-md text-center pr-5 pr-md-3">{{ 'ingredients_page_icons_2.png' | asset_url | img_tag : 'Ingredients page icons', 'ingr-icons-w px-md-5 pb-md-3' }}<br><p class="text-white px-md-3">We source locally wherever possible</p></div>
          <div class="col-6 col-md text-center pl-5 pl-md-3">{{ 'ingredients_page_icons_3.png' | asset_url | img_tag : 'Ingredients page icons', 'ingr-icons-w px-md-5 pb-md-3' }}<br><p class="text-white px-md-3">We use organic ingredients wherever possible</p></div>
          <div class="col-6 col-md text-center pr-5 pr-md-3">{{ 'ingredients_page_icons_4.png' | asset_url | img_tag : 'Ingredients page icons', 'ingr-icons-w px-md-5 pb-md-3' }}<br><p class="text-white px-md-3">All of our products are 100% free from animal testing</p></div>
          <div class="col-6 col-md text-center pl-5 pl-md-3">{{ 'ingredients_page_icons_5.png' | asset_url | img_tag : 'Ingredients page icons', 'ingr-icons-w px-md-5 pb-md-3' }}<br><p class="text-white px-md-3">No animal-derived ingredients allowed, ever</p></div>
          <div class="w-100 d-none d-md-block"></div>
          <div class="col-6 col-md text-center pr-5 pr-md-3">{{ 'ingredients_page_icons_6.png' | asset_url | img_tag : 'Ingredients page icons', 'ingr-icons-w px-md-5 pb-md-3' }}<br><p class="text-white px-md-3">All of our ingredients are tested for full efficacy</p></div>
          <div class="col-6 col-md text-center pl-5 pl-md-3">{{ 'ingredients_page_icons_7.png' | asset_url | img_tag : 'Ingredients page icons', 'ingr-icons-w px-md-5 pb-md-3' }}<br><p class="text-white px-md-3">All of our ingredients are cross checked for safety</p></div>
          <div class="col-6 col-md text-center pr-5 pr-md-3">{{ 'ingredients_page_icons_8.png' | asset_url | img_tag : 'Ingredients page icons', 'ingr-icons-w px-md-5 pb-md-3' }}<br><p class="text-white px-md-3">We use natural ingredients wherever possible</p></div>
          <div class="col-6 col-md text-center pl-5 pl-md-3">{{ 'ingredients_page_icons_9.png' | asset_url | img_tag : 'Ingredients page icons', 'ingr-icons-w px-md-5 pb-md-3' }}<br><p class="text-white px-md-3">Our complete ingredient supply chain is fully traceable</p></div>
          <div class="col-6 col-md text-center pr-5 pr-md-3">{{ 'ingredients_page_icons_10.png' | asset_url | img_tag : 'Ingredients page icons', 'ingr-icons-w px-md-5 pb-md-3' }}<br><p class="text-white px-md-3">We source Earth friendly, recyclable materials wherever possible</p></div>
        </div>
      </div>
      <img src="{{ 'ingredients_page_wave_m.png' | asset_img_url: '10x' }}" data-src="{{ 'ingredients_page_wave_m.png' | asset_url }}" class="lazyload blur-up wave-bottom img-fluid p-0 d-block d-md-none" alt="ST.Tropica Wave"/>
      <div class="d-none d-md-block text-center mt-n3">
        <img src="{{ 'ingredients_page_wave_white.png' | asset_img_url: '10x' }}" data-src="{{ 'ingredients_page_wave_white.png' | asset_url }}" class="lazyload blur-up wave-pink-z wave-top img-fluid p-0" alt="ST.Tropica Wave"/>
      </div>
    </section>
    <div class="px-3 px-md-0">
      <section class="pt-0" id="hair_vitamins_details">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6 d-block d-md-none">
              <div class="ingr-page-slide owl-theme">
                <div class="ingr-slide3" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "adaptiveHeight": true, "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z"  }'>
                  <div class="carousel-cell col-12">
                    <a href="{{ 'hair-vitamins-supplement-facts.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
                      <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'hair-vitamins-supplement-facts.png' | asset_url }}"/>
                    </a>
                  </div>
                  <div class="carousel-cell col-12">
                    <img alt="ST. TROPICA Hair Growth Vitamins" class="fullwidthimg" src="{{ 'vitamin_pill_jar_ingredients.png' | asset_url }}"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="">
                <h1 class="mainh1">Hair Growth Vitamins</h1>
                <p>Spanning from rural ancient India, to the depths of the Brazilian rainforest, to the lush tropical Hawaiian Islands… we’ve scoured the Earth in our quest to source the best of the best, high performance, plant and fruit-based ingredients for our Hair Growth Vitamins.</p>
                <p>We had one goal in mind … Maximum Hair Growth. Think of this formula as our ultimate ingredient wish list, realized! Each ingredient in our exclusive design has been hand-selected regardless of cost to create the World’s Best Hair Vitamin, rigorously researched and evaluated for efficacy and safety, measured against the Skin Deep database, and cross-checked against WebMD for side effects.</p>
                <img alt="ST. TROPICA Hair Growth Vitamins" class="img-responsive" src="{{ 'HairGrowthVitaminsIcon.png' | asset_url }}"/>
                <div class="row"><a class="button mt-4 mx-auto" href="/products/st-tropica-hair-vitamins-hair-challenge-2-month-supply" aria-label="Click here to Shop now">SHOP NOW</a></div>
              </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
              <div class="ingr-page-slide owl-theme">
                <div class="ingr-slide30" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "adaptiveHeight": true, "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z"  }'>
                  <div class="carousel-cell col-12">
                    <a href="{{ 'hair-vitamins-supplement-facts.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Hair Growth Vitamins">
                      <img alt="St.Tropica Hair Growth Vitamins" src="{{ 'hair-vitamins-supplement-facts.png' | asset_url }}"/>
                    </a>
                  </div>
                  <div class="carousel-cell col-12">
                    <img alt="ST. TROPICA Hair Growth Vitamins" class="fullwidthimg" src="{{ 'vitamin_pill_jar_ingredients.png' | asset_url }}"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="pt-0" id="mm_details">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <div class="ingr-page-slide owl-theme">
                <div class="ingr-slide3" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "adaptiveHeight": true, "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z"  }'>
                  <div class="carousel-cell col-12">
                    <a href="{{ 'Mermaid_Mist_Ingredients.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Mermaid Mist">
                      <img alt="St.Tropica Mermaid Mist" src="{{ 'Mermaid_Mist_Ingredients.png' | asset_url }}"/>
                    </a>
                  </div>
                  <div class="carousel-cell col-12">
                    <img alt="ST. TROPICA Mermaid Mist" class="fullwidthimg" src="{{ 'Mermaid_Mist_8oz.png' | asset_url }}"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="">
                <h1 class="mainh1">Hair Thickening Spray</h1>
                <p>Get dramatically Thicker, Fuller Hair in just seconds! Simply spray our amazing Mermaid Mist through damp hair to instantly create Thicker, Fuller, more Voluminous locks, with a subtle hold that can last day or night. Exotic Himalayan Pink Salt enhances volume & texture, Sea Kelp Extract helps strengthen strands, and Argan Oil moisturizes & protects against damage. These three hair ingredient all-stars combine with our renowned Hair Superfood formula to leave hair looking and feeling better than ever before.</p>
                <div class="row"><a class="button mt-4 mx-auto" href="/products/mermaid-mist-8oz" aria-label="Click here to Shop now">SHOP NOW</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="hair_mask_details">      
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6 d-block d-md-none">
              <div class="ingr-page-slide owl-theme">
                <div class="ingr-slide4" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "adaptiveHeight": true, "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z"  }'>
                  <div class="carousel-cell col-12">
                    <img alt="St.Tropica Beach Goddess" class="fullwidthimg" src="{{ 'beach_goddess_front.png' | asset_url }}"/>
                  </div>
                  <div class="carousel-cell col-12">
                    <a href="{{ 'beach_goddess_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="St.Tropica Beach Goddess">
                      <img alt="St.Tropica Beach Goddess" src="{{ 'beach_goddess_back.png' | asset_url }}"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="">
                <h1 class="mainh1">Hot Oil Hair Mask</h1>
                <p>Deeply infused with the world’s most sought after Hair Superfoods, our Hair Mask is a powerhouse formula of raw and unrefined hair vitamins and nutrients. Our carefully selected rare ingredients nurture and repair strands, encourage hair growth, and help prevent breakage by sealing the cuticle layer. A botanical blend that delivers on gorgeously healthy hair and a heavenly tropical scent. </p>
                <div class="row"><a class="button mt-4 mx-auto" href="/products/st-tropica-beach-goddess-hot-oil-hair-mask" aria-label="Click here to Shop now">SHOP NOW</a></div>
              </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
              <div class="ingr-page-slide owl-theme">
                <div class="ingr-slide5" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "adaptiveHeight": true, "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z"  }'>
                  <div class="carousel-cell col-12">
                    <a href="{{ 'beach_goddess_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="St.Tropica Beach Goddess">
                      <img alt="St.Tropica Beach Goddess" src="{{ 'beach_goddess_back.png' | asset_url }}"/>
                    </a>
                  </div>
                  <div class="carousel-cell col-12">
                    <img alt="St.Tropica Beach Goddess" class="fullwidthimg" src="{{ 'beach_goddess_front.png' | asset_url }}"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="luscious_details">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <div class="ingr-page-slide owl-theme">
                <div class="ingr-slide6" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "adaptiveHeight": true, "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z"  }'>
                  <div class="carousel-cell col-12">
                    <a href="{{ 'luscious_locks_back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Leave-In Conditioner">
                      <img alt="ST. TROPICA Leave-In Conditioner" src="{{ 'luscious_locks_back.png' | asset_url }}"/>
                    </a>
                  </div>
                  <div class="carousel-cell col-12">
                    <img alt="ST. TROPICA Leave-In Conditioner" class="fullwidthimg" src="{{ 'luscious_locks_front.png' | asset_url }}"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="">
                <h1 class="mainh1">Leave-In Conditioner</h1>
                <p>We’ve carefully crafted Luscious Locks with select Exotic Hair Superfoods, including potent herbs long used in Ayurveda, and Pure Organic Oils to ensure our Leave-In Conditioner delivers high-intensity results with ingredients from nature. </p>
                <p>Our one-of-a-kind formula locks in moisture and nourishes each strand, providing long-lasting benefits to hair. As an added bonus, our natural fragrance ingredients offer a sublime tropical scent you’ll love. Each and every ingredient used to create Luscious Locks ranks #1 on EWG Skin Deep for safety.</p>
                <ul class="tickmark">
                  <li>Organic Jojoba Oil makes hair feel silky smooth and soft</li>
                  <li>Organic Virgin Olive Oil makes hair feel thicker and healthier</li>
                  <li>Organic Avocado Oil lends the appearance of voluminous hair</li>
                  <li>Organic Bhringraj prevents the appearance of hair loss and visibly improves hair growth</li>
                  <li>Organic Hibiscus offers a soothing feel to skin, ideal for those with sensitive scalp</li>
                  <li>Organic Amla moisturizes the scalp and makes hair feel strong</li>
                  <li>Organic Horsetail lends a reparative feel to damaged hair tissue, and makes hair look healthy and vibrant</li>
                  <li>Organic Green Tea boosts the appearance of hair growth and visibly improves split ends</li>
                </ul>
                <div class="row"><a class="button mt-4 mx-auto" href="/products/st-tropica-leave-in-conditioner" aria-label="Click here to Shop now">SHOP NOW</a></div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </section>

      {% comment %}<section id="beauty_coco_details">      
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 d-block d-md-none">
            <div class="ingr-page-slide owl-theme">
              <div class="ingr-slide7" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "adaptiveHeight": true, "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z"  }'>
                <div class="carousel-cell col-12">
                  <img alt="St.Tropica Beauty Coco" class="fullwidthimg" src="{{ 'beauty-coco-1.jpg' | asset_url }}"/>
                </div>
                <div class="carousel-cell col-12">
                  <a href="{{ 'ingredients_page_beauty_coco_back1.jpg' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="St.Tropica Beauty Coco">
                    <img alt="St.Tropica Beauty Coco" src="{{ 'ingredients_page_beauty_coco_back.jpg' | asset_url }}"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="">
              <h1 class="mainh1">Beauty Coco</h1>
              <p>Our Beauty Coco is comprised of a single ingredient. 
                So we made sure that ingredient is the finest Certified Organic Coconut Oil we could find. 
                ST. TROPICA 100% Virgin Coconut Oil is made from organically grown coconuts that are freshly harvested within 48 hours and never dried. 
                Our coconut oil is raw, unrefined, and cold pressed without heat or chemicals, and processed with world-class stainless steel equipment.
              </p>
              <ul class="tickmark">
                <li>Contains the highest Lauric Acid and Vitamin E content to offer a wealth of beauty benefits</li>
                <li>A heavenly tropical scent you only get from the purest coconut oil instantly transports you to the tropics</li>
                <li>Non-greasy moisturization for skin and hair</li>
                <li>Proven beauty benefits in multiple government-published studies in the USA and Korea</li>
                <li>Practically endless beauty uses</li>
              </ul>
              <div class="row"><a class="button mt-4 mx-auto" href="/products/st-tropica-beauty-coco-virgin-coconut-oil-jar" aria-label="Click here to Shop now">SHOP NOW</a></div>
            </div>
          </div>
          <div class="col-md-6 d-none d-md-block">
            <div class="ingr-page-slide owl-theme" id="owl-demo9">
              <div class="ingr-slide8" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "adaptiveHeight": true, "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z"  }'>
                <div class="carousel-cell col-12">
                  <a href="{{ 'ingredients_page_beauty_coco_back1.jpg' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="St.Tropica Beauty Coco">
                    <img alt="St.Tropica Beauty Coco" src="{{ 'ingredients_page_beauty_coco_back.jpg' | asset_url }}"/>
                  </a>
                </div>
                <div class="carousel-cell col-12">
                  <img alt="St.Tropica Beauty Coco" class="fullwidthimg" src="{{ 'beauty-coco-1.jpg' | asset_url }}"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>{% endcomment %}


      <section id="tropical_touch_details">      
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6 d-block d-md-none">
              <div class="ingr-page-slide owl-theme">
                <div class="ingr-slide1" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "adaptiveHeight": true, "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z"  }'>
                  <div class="carousel-cell col-12">
                    <img alt="St.Tropica Beauty Coco" class="fullwidthimg" src="{{ 'topical_touch_directions1.png' | asset_url }}"/>
                  </div>
                  <div class="carousel-cell col-12">
                    <a href="{{ 'topical_touch_directions2.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="St.Tropica Beauty Coco">
                      <img alt="St.Tropica Beauty Coco" src="{{ 'topical_touch_directions2.png' | asset_url }}"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="">
                <h1 class="mainh1">Beauty Sanitizer</h1>
                <p>Kills 99.9% of Germs while providing essential moisture and delivering visible wrinkle-defense and firming action to skin, leaving hands feeling smooth, soft, and clean.<br>
                  A trio of ultimately hydrating ingredients – Hyaluronic acid, Vitamin C, and Niacinamide – combine with Organic Green Tea, Organic Hibiscus Oil, Organic Blueberry and Cocoa Butter to deeply moisturize and rejuvenate. </p>
                <div class="row"><a class="button mt-4 mx-auto" href="/products/tropical-touch-beauty-sanitizer-solo-set" aria-label="Click here to Shop now">SHOP NOW</a></div>
              </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
              <div class="ingr-page-slide owl-theme">
                <div class="ingr-slide2" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "adaptiveHeight": true, "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z"  }'>
                  <div class="carousel-cell col-12">
                    <a href="{{ 'topical_touch_directions2.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="St.Tropica Beauty Coco">
                      <img alt="St.Tropica Beauty Coco" src="{{ 'topical_touch_directions2.png' | asset_url }}"/>
                    </a>
                  </div>
                  <div class="carousel-cell col-12">
                    <img alt="St.Tropica Beauty Coco" class="fullwidthimg" src="{{ 'topical_touch_directions1.png' | asset_url }}"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="aloha_details">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <div class="ingr-page-slide owl-theme" id="owl-demo12">
                <div class="ingr-slide9" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": false, "cellAlign": "left", "adaptiveHeight": true, "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l3.4 2.1L4.7 49.7l29.5 48.2z"  }'>
                  <div class="carousel-cell col-12">
                    <a href="{{ 'home-dry-shampoo-back.png' | asset_url }}" class="ingr-img-p" data-fancybox data-caption="ST. TROPICA Dry Shampoo">
                      <img alt="ST. TROPICA Dry Shampoo" src="{{ 'home-dry-shampoo-back.png' | asset_url }}"/>
                    </a>
                  </div>
                  <div class="carousel-cell col-12">
                    <img alt="ST. TROPICA Dry Shampoo" class="fullwidthimg" src="{{ 'home-dry-shampoo.png' | asset_url }}"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="">
                <h1 class="mainh1">Dry Shampoo</h1>
                <p>ST. TROPICA Aloha Babe Dry Shampoo leaves second (or third) day hair looking just-washed clean and delightfully scented, no water necessary. Natural Tapioca Starch deeply cleanses hair and scalp in an instant, while our Hair Superfood formula of Organic Bhringraj, Amla, Hibiscus, and Horsetail provides vital moisturization to dry, brittle hair. Natural proteins target damaged areas, repairing strands from the inside out, and protective emollient and conditioning ingredients improve the appearance of volume and shine. The non-whitening, weightless formula is non-sticky and easy to use. Perfect for all hair types. And our signature natural fragrance delivers a dreamy tropical scent. Hair is left looking clean, full, and salon-fresh.</p>
                <ul class="tickmark">
                  <li>A Natural Dry Shampoo With Beautiful Hair Benefits</li>
                  <li>Leaves Hair Looking Clean, Shiny, and Healthy</li>
                  <li>Free From: Artificial Colors, Artificial Fragrance, Artificial Preservatives, Sulfates, Parabens, Silicone, Gluten, and Soy</li>
                  <li>Contains Only Natural Fragrance Ingredients</li>
                  <li>Certified Cruelty-Free</li>
                  <li>Certified Vegan</li>
                  <li>Non-Whitening Formula for All Hair Colors</li>
                  <li>Convenient Continuous Spray Bottle </li>
                </ul>
                <div class="row"><a class="button mt-4 mx-auto" href="/products/st-tropica-aloha-babe-dry-shampoo" aria-label="Click here to Shop now">SHOP NOW</a></div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </section>

    </div>
  </div>
</div>

<script>
  $('a[href*="#"]').on('click', function(e) {
    e.preventDefault()

    $('html, body').animate(
      {
        scrollTop: $($(this).attr('href')).offset().top,
      },
      500,
      'linear'
    )
  })
</script>

<script>
  $(function () {
    $(".ingr-img-p").fancybox();
  });
</script>