
<div class="page clearfix">
  <div class="row text-center">
    <h1 class="title mt-5">How to Use St. Tropica Products</h1>
  </div>
  <section id="directions">
    <div class="container-fluid">
      <div class="row px-4 justify-content-md-center">
        <div class="col-md-4 text-center animated fadeInUp">
          <a href="/pages/hair-growth-vitamins-directions" title="Directions - Hair Growth Vitamins" class="dir-option">
            {{ 'pill_jar_directions.png' | asset_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}<br />
            <h1>Hair Growth Vitamins</h1>
          </a>
        </div>
        <div class="col-md-4 text-center animated fadeInUp">
          <a href="/pages/mermaid-mist-directions" title="Directions - HAIR THICKENING SPRAY" class="dir-option">
            {{ 'mermaid_mist_directions.png' | asset_url | img_tag : 'Directions - HAIR THICKENING SPRAY', 'img-fluid' }}<br />
            <h1>HAIR THICKENING SPRAY</h1>
          </a>
        </div>
        <div class="col-md-4 text-center animated fadeInUp delay-2">
          <a href="/pages/beach-goddess-directions" title="Directions - Beach Goddess" class="dir-option">
            {{ 'beach_godess_directions.png' | asset_url | img_tag : 'Directions - Beach Goddess', 'img-fluid' }}<br />
            <h1>Hot Oil Hair Mask</h1>
          </a>
        </div>
        {% comment %}<div class="col-md-4 text-center animated fadeInUp delay-2">
          <a href="/pages/hot-oil-hair-mask-treatment-instructions-online" title="Directions - Hot Oil Hair Mask" class="dir-option">
            {{ 'hairmask_directions_f534668f-896d-449c-9d0a-60cf1577e661.png' | file_url | img_tag : 'Directions - Hot Oil Hair Mask', 'img-fluid' }}<br />
            <h1>Hot Oil Hair Mask</h1>
          </a>
        </div>{% endcomment %}

        <div class="col-md-4 text-center animated fadeInUp delay-2">
          <a href="/pages/luscious-locks-directions" title="Directions - Luscious Locks" class="dir-option">
            {{ 'luscious_locks_directions.png' | asset_url | img_tag : 'Directions - Luscious Locks', 'img-fluid' }}<br />
            <h1>Leave-In Conditioner</h1>
          </a>
        </div>
        <div class="col-md-4 text-center animated fadeInUp delay-2">
          <a href="/pages/aloha-babe-directions" title="Directions - Aloha Babe" class="dir-option">
            {{ 'dryshampoo_direction.png' | asset_url | img_tag : 'Directions - Aloha Babe', 'img-fluid' }}<br />
            <h1>Dry Shampoo</h1>
          </a>
        </div>
        <div class="col-md-4 text-center animated fadeInUp delay-1">
          <a href="/pages/tropical-touch-direction" title="Directions - Tropical Touch" class="dir-option">
            {{ 'topical_touch_directions.png' | asset_url | img_tag : 'Directions - Tropical Touch', 'img-fluid' }}<br />
            <h1>Beauty Sanitizer</h1>
          </a>
        </div>
        <p> </p>
      </div>
    </div>
  </section>
  {{ page.content }}
</div>

