
<div class="page clearfix">
  <div class="row text-center">
    <h1 class="title mt-5">How to use St. Tropica Beauty Coco</h1>
  </div>
  <section id="directions">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center animated fadeInUp">
          {{ 'beauty_coco_direction_1.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
          <p class="mt-2">1. <b>Facial moisturizer:</b> Beauty Coco is the perfect non-greasy moisturizer for all skin types. Use to make skin feel balanced and soothed, and to diminish the appearance of acne and premature aging.</p>
        </div>
        <div class="col-md-3 text-center animated fadeInUp delay-1">
          {{ 'beauty_coco_direction_2.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
          <p class="mt-2">2. <b>Dry shave oil:</b> Keep skin moisturized while shaving for a smooth, silky finish. Works on legs, underarms, and bikini area. Guys, try it for face.</p>
        </div>
        <div class="col-md-3 text-center animated fadeInUp delay-2">
          {{ 'beauty_coco_direction_3.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
          <p class="mt-2">3. <b>Makeup remover:</b> Oil cleansing for the win! Use Beauty Coco to remove eye makeup, or massage onto the entire face for use as an oil cleanser. Whisks away makeup, dirt, and debris to leave skin feeling cleansed without stripping away natural oils.</p>
        </div>
        <div class="col-md-3 text-center animated fadeInUp delay-3">
          {{ 'beauty_coco_direction_4.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
          <p class="mt-2">4. <b>Deep conditioning hair conditioner:</b> It’s no secret to us here at St. Tropica that coconut oil is ideal for creating gorgeous locks. Feel free to use a scoop of Beauty Coco until your next shipment of our Coconut Oil Hair Mask arrives.</p>
        </div>
        <div class="w-100 d-none d-md-block"></div>
        <div class="col-md-3 text-center animated fadeInUp delay-4">
          {{ 'beauty_coco_direction_5.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
          <p class="mt-2">5. <b>Lip gloss:</b> The most moisturizing, yummiest, best scented lip gloss you can use. And looks fabulous too.</p>
        </div>
        <div class="col-md-3 text-center animated fadeInUp delay-5">
          {{ 'beauty_coco_direction_6.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
          <p class="mt-2">6. <b>Eye cream:</b> Wake up to smooth, bright eyes by applying Beauty Coco as an eye cream before bed. Super gentle, it tones down the look of puffiness too.</p>
        </div>
        <div class="col-md-3 text-center animated fadeInUp delay-6">
          {{ 'beauty_coco_direction_7.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
          <p class="mt-2">7. <b>Heel saver:</b> Those dry, scratchy heels? Get them softened and smoothed with Beauty Coco. Massage onto feet, don cotton socks, and sleep your way to sleeker feet.</p>
        </div>
        <div class="col-md-3 text-center animated fadeInUp delay-7">
          {{ 'beauty_coco_direction_8.jpg' | file_url | img_tag : 'Directions - Beauty Coco', 'img-fluid' }}
          <p class="mt-2">8. <b>Massage oil:</b> The best massage oil ever, right on your vanity. Feels good and smells luscious.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container mb-5 animated fadeInUp delay-8">
    <p>9. <b>Body butter:</b> What’s better than slathering dry skin in rich moisture? The delicious scent that comes with using Beauty Coco! Apply generously for soft, smooth feeling skin.<br /><br /> 10. <b>Facial highlighter:</b> Get highlights that look super natural, because they are. Swipe a thin layer of Beauty Coco on areas of the face where the light hits naturally – bridge of nose, cheekbones, brow bones, and cupid’s bow.<br /><br /> 11. <b>Frizz tamer:</b> Fighting the frizz just became a lot easier. Swipe a small amount of Beauty Coco on ends of hair to tame and smooth misbehaving locks. Scrunch throughout to coral curls.<br /><br /> 12. <b>Skin soother:</b> Chapped, dry skin can easily become red and irritated. Coconut oil is cooling and soothing to inflamed skin. Use generously on affected areas.<br /><br /> 13. <b>Cuticle oil:</b> Massage Beauty Coco onto cuticles keep them looking healthy and easy to manage.<br /><br /> 14. <b>Bath oil:</b> Up your bathing experience by adding skin softening, amazingly aromatic Beauty Coco. A little dollop will do ya’.<br /><br /> 15. <b>Shine serum:</b> For sleeker hairstyles, run a bit of Beauty Coco over top layer of strands, working to ends.<br /><br /> 16. <b>Overnight hand balm:</b> Dry, cracked hands are downright miserable. Soften up your digits by applying Beauty Coco overnight.<br /><br /> 17. <b>And more:</b> Use on spots of eczema to diminish the feeling of irritation, massage into nail beds as part of your mani/pedi routine, rub into wrists and temples for a tropical scent … and anything else you can dream up.</p>
  </div>
  {{ page.content }}
</div>


