{% style %}
ul.ul-disc {
padding-left: 1rem;
}
.lite-gr-color{
color: #727272;
}
h1.text_on_bg {
text-align: center;
}
h2 {
font-family: gilroybold;
font-size: 20px;
color: #727272;
letter-spacing: 0;
}
h1.title{
font-size: 2em;
font-family: gilroybold;
text-transform: unset;
letter-spacing: 0;
}
.title-head{
width: fit-content;
margin: auto;
}
.lite-gr-bg {
background: #f9f9f9 !important;
}
.pink-white{
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,156,199,1) 10%, rgba(255,166,205,1) 90%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%) !important;
}
@media only screen and (max-width: 1080px){
.pink-white{
background: rgb(255,156,199) !important;
}
.t-md-center{
text-align: center !important;
}
}
{% endstyle %}

<div class="container mt-0 mt-md-5">
  <div class="row mt-3">
    <div class="col-md-12 d-none d-md-block ps-0">
      <img src="{{ 'influencers.png' | asset_img_url: '10x' }}" data-src="{{ 'influencers.png' | asset_url }}" class="lazyload transition--blur-up pill-ingr img-full" alt="ST. TROPICA Hair Growth Vitamins"/>
    </div>
    <div class="col-md-12 d-block d-md-none px-0">
      <img src="{{ 'influencers_m.png' | asset_img_url: '10x' }}" data-src="{{ 'influencers_m.png' | asset_url }}" class="lazyload transition--blur-up pill-ingr img-full" alt="ST. TROPICA Hair Growth Vitamins"/>
    </div>
  </div>
</div>
<div class="container mt-0 mt-md-5">
  <div class="row mt-3">
    <div class="col-md-5 lite-gr-bg d-flex ps-0">
      <div class="row mx-0 align-items-center">
        <div class="col-md-12 p-0 text-center">
          <img src="{{ 'Influencer3.png' | asset_img_url: '10x' }}" data-src="{{ 'Influencer3.png' | asset_url }}" style="margin-top: -4em;" class="lazyload transition--blur-up pill-ingr img-full" alt="ST. TROPICA Hair Growth Vitamins"/>
        </div>
      </div>
    </div>
    <div class="col-md-7 mt-3 mt-md-0">
      <div class="lite-gr-bg h-100 p-3 p-md-5 d-flex flex-wrap align-content-center">
        <p class="">Offering the Highest <b>REFERRAL COMMISSIONS</b>, plus <b>FREE PRODUCTS</b>, plus your own unique <b>ST. TROPICA DISCOUNT CODE</b> for your followers, to lock-in your success!</p>
        <p class="mb-0">ST. TROPICA offers Iconic, Natural Hair Care products like no other.</p>
        <ul class="ul-disc">
          <li>Get Longer, Stronger Hair in 60 Days Flat</li>
          <li>With an amazing 100 Day Money Back Guarantee</li>
          <li>And over 5,000 glowing reviews!</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row pt-5 align-items-center">
    <div class="col-md-7 px-4 order-1 order-md-0">
      <p>Simply register below to become a ST. TROPICA Influencer. It’s <b>FREE</b> to do so! When you’re approved, you can start earning real money with us right away.</p>
      <p>You will be able to promote ST. TROPICA’S products through your favorite social networks as posts, videos, reels, pins or tweets – on virtually all platforms like YouTube, Instagram, TikTok, Facebook, Twitter, Pinterest, as well as your blog, website or even email.</p>
      <p>It’s super easy and we’ll pay you the <b>HIGHEST COMMISSIONS</b> on all qualifying sales you refer.</p>
      <p>In addition, you can get all <b>ST. TROPICA products for FREE</b>, plus <b>FREE SHIPPING</b>.</p>
      <p>And then, you can earn money from your social post(s) when your followers make ST. TROPICA purchases. As an approved ST. TROPICA Influencer, your unique referral link will invisibly track all the referral sales you make, for everyone in your audience who clicks on it and purchases.</p>
      <p>And you’ll also get your own unique <b>DISCOUNT CODE</b> to share with your followers. Simple as that!</p>
  </div>
  <div class="col-md-5 order-0 order-md-1">
    <div class="lite-gr-bg text-center mt-5">
      <img src="{{ 'Influencer1.png' | asset_img_url: '10x' }}" data-src="{{ 'Influencer1.png' | asset_url }}" style="margin-top: -5em;" class="lazyload transition--blur-up pill-ingr img-full" alt="ST. TROPICA Hair Growth Vitamins"/>
      <h1 class="title lite-gr-color pb-5">HOW IT WORKS</h1>
    </div>
  </div>
</div>
<div class="row py-5">
  <div class="col-md-3">
    <div class="lite-gr-bg text-center h-100 p-3">
      <img src="{{ 'Influencer_icon_1.png' | asset_img_url: '10x' }}" data-src="{{ 'Influencer_icon_1.png' | asset_url }}" class="lazyload transition--blur-up pill-ingr img-full py-3" alt="ST. TROPICA Hair Growth Vitamins"/>
      <h2>HIGHEST COMMISSIONS</h2>
      <p>We offer you the highest commissions in the industry!<br>
    </div>
  </div>
  <div class="col-md-3 mt-3 mt-md-0">
    <div class="lite-gr-bg text-center h-100 p-3">
      <img src="{{ 'Influencer_icon_2.png' | asset_img_url: '10x' }}" data-src="{{ 'Influencer_icon_2.png' | asset_url }}" class="lazyload transition--blur-up pill-ingr img-full py-3" alt="ST. TROPICA Hair Growth Vitamins"/>
      <h2>FREE TO JOIN</h2>
      <p>It’s completely FREE TO JOIN.</p>
    </div>
  </div>
  <div class="col-md-3 mt-3 mt-md-0">
    <div class="lite-gr-bg text-center h-100 p-3">
      <img src="{{ 'Influencer_icon_3.png' | asset_img_url: '10x' }}" data-src="{{ 'Influencer_icon_3.png' | asset_url }}" class="lazyload transition--blur-up pill-ingr img-full py-3" alt="ST. TROPICA Hair Growth Vitamins"/>
      <h2>FULL TRACKING</h2>
      <p>FULL TRACKING is included: you get your very own 24/7 Influencer Dashboard, where you can login to track your sales (see who bought what, when, and for how much), commissions, payments & more, in real time.</p>
    </div>
  </div>
  <div class="col-md-3 mt-3 mt-md-0">
    <div class="lite-gr-bg text-center h-100 p-3">
      <img src="{{ 'Influencer_icon_4.png' | asset_img_url: '10x' }}" data-src="{{ 'Influencer_icon_4.png' | asset_url }}" class="lazyload transition--blur-up pill-ingr img-full py-3" alt="ST. TROPICA Hair Growth Vitamins"/>
      <h2>EASY PAYMENTS</h2>
      <p>EASY PAYMENTS to you,<br>via PayPal, every month.</p>
    </div>
  </div>
</div>
<div class="row justify-content-center mb-0">
  <div class="col-md-11 pink-white px-md-0">
    <div class="row m-0">
      <div class="col-md-4 px-md-0">
        <img src="{{ 'Influencer4.png' | asset_img_url: '10x' }}" data-src="{{ 'Influencer4.png' | asset_url }}" class="lazyload transition--blur-up pill-ingr img-full mt-n5" alt="ST. TROPICA Hair Growth Vitamins"/>
      </div>
      <div class="col-md-4 py-3 px-md-0 d-flex flex-wrap align-content-center justify-content-center">
        <h1 class="title text-white mb-0">Sound like fun?</h1>
        <p class="text-white text-center" style="font-size: 20px;line-height: 1.2;">The timing has never been better to join us in sharing the hair love… as well as the profits!</p>
        <p class="text-white text-center" style="font-size: 1.25em; font-family: gilroybold; margin-bottom: 0; line-height: 1;">JOIN the waitlist below</p>
        {% comment %}<p class="text-white text-center" style="font-size: 1.25em; font-family: gilroybold; margin-bottom: 0; line-height: 1;">Simply APPLY BELOW<br>to get approved</p>{% endcomment %}
      </div>
      <div class="col-md-4 px-md-0">
        <img src="{{ 'Influencer5.png' | asset_img_url: '10x' }}" data-src="{{ 'Influencer5.png' | asset_url }}" class="lazyload transition--blur-up pill-ingr img-full mt-md-n5" alt="ST. TROPICA Hair Growth Vitamins"/>
      </div>
    </div>
  </div>
  <p class="lite-gr-bg col-md-8 p-2 text-center">Please note: a PayPal Account is required to participate. Commission payouts are monthly via PayPal only.</p>
</div>



<script src="{{ 'stt_affiliate.js' | asset_url }}" defer></script>

<style type="text/css">
  .xs {
    font-size: 0.575rem !important;
  }
  .error {
    color: #a94442
  }
  .g-recaptcha > div {
    margin: auto;
  }
  .input-group textarea {
    border-radius: 0;
    border-color: #d1d0d0;
    padding: 20px;
  }
  .input-group input, .input-group select {
    height: 60px;
    border-radius: 0;
    width: 100%;
    border-color: #d1d0d0;
    padding: 20px;
  }
  .dropdown-menu {
    margin-top: .75rem;
  }
  .caption {
    width: auto;
  }
  .rating-container .caption {
    vertical-align: baseline !important;
  }
  [type=submit]:disabled {
    cursor: wait !important;
  }
  .rating-container .filled-stars {
    -webkit-text-stroke: 1px #ff92c5 !important;
    text-shadow: 2px 3px 4px #e0e0e0 !important;
  }
  .empty-stars .star .fas.fa-star {
    color: #bcc1c7;
  }
  .filled-stars .star .fas.fa-star {
    color: #fe9bc9;
    font-size: 1em;
  }
  .filled-stars .star .fas.fa-star:before,
  .empty-stars .star .fas.fa-star:before {
    font-size: 1em;
    font-weight: bold;
  }
  .rating-container .caption .label {
    color: #fff;
  }
  small.text-muted {
    line-height: 1.5;
  }
  .dz-default.dz-message span {
    border: 2px dashed #ced4da;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9fcff;
  }
  .dropzone .dz-message {
    margin: 13% 0 !important;
  }
</style>


<div class="col-md-6 mx-auto p-4 mb-5">
  <form id="stt_contact" action="https://sttropica.net/Review/aff.php">
    <div class="row mx-0">
      
      <div class=" col-md-6 mb-3">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="fields[field_1]" placeholder="First Name" class="form-control  " id="field_1" required>
          </div>
        </div>
      </div>
      <div class=" col-md-6 mb-3">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="fields[field_12]" placeholder="Last Name" class="form-control  " id="field_12" required>
          </div>
        </div>
      </div>
      <div class=" col-md-12 mb-3">
        <div class="form-group">
          <div class="input-group">
            <input type="email" name="fields[field_2]" placeholder="Email Address" class="form-control" id="field_2" data-rule-email="1" data-msg-email="Please provide a valid email" required>
          </div>
        </div>
      </div>
      <p>Please enter at least one (1) field below</p>
      <div class=" col-md-12 mb-3 ">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="weborblog" placeholder="Website or Blog" class="form-control" id="field_3">
          </div>
        </div>
      </div>      
      <div class=" col-md-12 mb-3 ">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="instagram" placeholder="Instagram (Must be public)" class="form-control" id="field_4">
          </div>
        </div>
      </div>      
      <div class=" col-md-12 mb-3 ">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="facebook" placeholder="Facebook" class="form-control" id="field_5">
          </div>
        </div>
      </div>      
      <div class=" col-md-12 mb-3 ">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="tiktok" placeholder="TikTok" class="form-control" id="field_6">
          </div>
        </div>
      </div>      
      <div class=" col-md-12 mb-3 ">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="youtube" placeholder="YouTube" class="form-control" id="field_7">
          </div>
        </div>
      </div>      
      <div class=" col-md-12 mb-3 ">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="twitter" placeholder="Twitter" class="form-control" id="field_8">
          </div>
        </div>
      </div>      
      <div class=" col-md-12 mb-3 ">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="pinterest" placeholder="Pinterest" class="form-control" id="field_9">
          </div>
        </div>
      </div>      
    </div>
    <div class="g-recaptcha" data-sitekey="6Lc495EfAAAAAF8OQ8dPwNLg6lV1OCAJNMmoJ_-_"></div>
    <br>
    <div id="btn_show" class=" col-md-12 text-center mx-auto">
      <button class="button" data-btn_loading="Submitting..." data-btn_text="Submit" type="submit">join the waitlist</button>
    </div>
    <div id="spin_show" class="text-center" style="display: none;">
      <div class="spinner-border" role="status"> <span class="sr-only"></span> </div>
    </div>
    <p class="text-center mt-3">Already have an account? Sign in <a href="https://ambassadors.sttropica.com/login">here</a>.</p>
    
  </form>
  <div id="text_show" class="text-center c-success mt-3" style="display: none;">
    <p class="mb-2"></p>
  </div>
</div>


<script async="" src="//www.google.com/recaptcha/api.js?v=1"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script async="" src="//cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>